
p{
    margin-bottom: 0;
}
.imgposition{
    margin: 5px;
    float: left;
}
.brdrR{
    border-right: 1px solid #c9c9cc;
}
.brdrL{
    border-left: 1px solid #c9c9cc;;
}
.brdrtop{
    border-top: 1px solid #c9c9cc;
}
.brdrbottom{
    border-bottom: 1px solid #c9c9cc;
}
.linebyline{
    span{
        margin-left: 8px;
        font-size: 13px;
    }
    .crossline{
        border-right: 1px solid;
    }
}
.mapheight{
    height: 66px;
    width: 50%;
}
.font9imp{
    font-size: 9px !important;
}
.borderpading{
    padding: 15px 15px 0 15px;
}
.font16imp{
    font-size: 16px !important;
}
.bookdpdng{
    padding: 0 15px;
}
.mrgndetails{
    margin: 30px 0;
}
.transportbodypdng{
    padding: 10px 20px 0px;
}
.bgclrwhite{
    background-color: white;
}
.bgclrred{
    background-color: #fae6e6 !important;
}
.oopstext{
    line-height: 14px;
    margin-top: 6px;
    padding-left: 10px;
}