<div class="border_box_shadow bgclrwhite mb-3" [class.bgclrred]="showMakkah || showMadinah" *ngIf="tripHotel">
    <div class="row m-0 p10">
        <div class="col-md-12 p-0 brdrbottom mb10" *ngIf= "showMakkah">
            <div class="d-inline-flex">
                <div><i class="sadicon icns icon_size_25"></i></div>
                <div class="sadred fs14 fw600 oopstext">Ooops !!! Some Error Occured, Please select another hotel.</div>
                <div class="textunderline list_clr cursor-pointer pl-3" (click)="goToHotelStepper('makkah')">Modify</div>
            </div>
        </div>
        <div class="col-md-12 p-0 brdrbottom mb10" *ngIf= "showMadinah">
            <div class="d-inline-flex">
                <div><i class="sadicon icns icon_size_25"></i></div>
                <div class="sadred fs14 fw600 oopstext">Ooops !!! Some Error Occured, Please select another hotel.</div>
                <div class="textunderline list_clr cursor-pointer pl-3" (click)="goToHotelStepper('madinah')">Modify</div>
            </div>
        </div>
        <div class="col-md-2 col-12 pl-0 pr-0 my-auto">
            <i class="hotelblueicon icns icon_size_30 imgposition"></i>
            <div class="Premium_blue fs14 fw600 ">
                <div class="text-uppercase">{{tripHotel?.location}}</div>
                <div>{{tripHotel?.check_in_time | date: 'shortDate'}}</div>
            </div>
        </div>
        <div class="col-md-9 col-12 brdrR brdrL my-auto">
            <div class="float-left">
                <div class="d-inline-flex">
                    <div class="fw600 fs16">{{tripHotel?.hotel?.name | titlecase}}</div>
                    <div class="pl10">
                        <ngb-rating [(rate)]="tripHotel.hotel.user_review" [readonly]="readonly" [max]=5>
                            <ng-template let-fill="fill" let-index="index">
                                <span class="star" [class.filled]="fill === 100"
                                    [class.bad]="index < 2">&#9733;</span>
                            </ng-template>
                        </ngb-rating>
                    </div>
                </div>
                <div class="linebyline clr52 fs13">
                    No of days on Makkah
                    <span class="Premium_blue fw600">{{tripHotel?.num_of_days}}</span>
                    <span class="crossline"></span>
                    <span>No of Guest</span>
                    <span class="Premium_blue fw600">{{travelCount}}</span>
                    <span class="crossline"></span>
                    <span>Rooms</span>
                    <span class="Premium_blue fw600">{{tripHotel?.room_variations?.length}}</span>
                    <span class="textunderline list_clr cursor-pointer pl-3" (click)="goToHotelStepper('null')">Modify</span>
                    <span class="textunderline list_clr cursor-pointer pl-3" data-toggle="modal" [attr.data-target]="'#hotelPolicy'+ tripHotel.hotel.id">Policy</span>
                    <div class="modal" id="hotelPolicy{{tripHotel.hotel.id}}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" style="border-bottom: none;padding-bottom: 0px;">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body mb-4">
                                    <div
                                        *ngIf="tripHotel?.room_variations[0]?.room?.cancellation_policy?.rules.length < 1  && !tripHotel?.cancellation_policy?.description">
                                        {{'No Policies Found' }}
                                    </div>
                                    <div *ngIf="tripHotel?.hotel?.policies?.length > 0">
                                        <h6 class="mt-1 ml-3" style="margin-left: 10px;">
                                            {{'Policies' }}</h6>
                                        <div class="col-md-12 row m-0 mb-1">
                                            <div class="col-md-12 pl-0 m-0"
                                                *ngFor="let item of tripHotel.hotel.policies">
                                                <div class="col-md-12 p-0   mb-1">
                                                    <h6>{{item?.policy_type}}</h6>
                                                    <div>
                                                        <li style="font-size: 12px;" [innerHTML]="item?.name"></li>
                                                    </div>
                                                    <p> {{item?.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngFor="let item of tripHotel?.room_variations">
                                        <div class="col-md-12 row m-0 ">
                                            <div class="col-md-12 p-0 m-0 row">
                                                <h6 class=" pt-2">
                                                    {{item?.room?.cancellation_policy?.title}}
                                                </h6>
                                                <p *ngIf="!tripHotel?.room_variations[0]?.room?.cancellation_policy?.is_refundable"
                                                    style="color: #d33a2f;padding-left: 10px;padding-top: 10px;">
                                                    {{'Non Refundable' }} </p>
                                            </div>
                                            <div class="pb-2 m-0">
                                                <p>{{item?.room?.cancellation_policy?.description}}
                                                </p>
                                            </div>
                                            <div class="col-md-12 pl-0 m-0"
                                                *ngFor="let item1 of item.room?.cancellation_policy?.rules;let i = index">
                                                <div class="col-md-12 p-0  pb-1">
                                                    <div>
                                                        <li style="font-size: 12px;" [innerHTML]="item1?.description">
                                                        </li>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="tripHotel?.cancellation_policy">
                                        <div class="col-md-12 row m-0 ">
                                            <div class="col-md-12 p-0 m-0 row">
                                                <h6 class=" pt-2">
                                                    {{tripHotel?.cancellation_policy?.title}}
                                                </h6>
                                            </div>
                                            <div class="pb-2 m-0">
                                                <p>{{tripHotel?.cancellation_policy?.description}}
                                                </p>
                                            </div>
                                            <div class="col-md-12 pl-0 m-0"
                                                *ngFor="let item1 of tripHotel?.cancellation_policy?.rules;">
                                                <div class="col-md-12 p-0  pb-1">
                                                    <div>
                                                        <li style="font-size: 12px;" [innerHTML]="item1?.description">
                                                        </li>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="float-right fs16 fw500 pt-2 customTooltip">
                {{tripHotel?.room_variations[0]?.currency}} {{tripHotel?.prices_summary?.total_price + tripHotel?.prices_summary?.gds_fee + tripHotel?.prices_summary?.ota_fee | number:'.2-2'}}
                <span class="customtooltiptext">
                    <div class="container mb-2">
                        <p class="pt-2 fare_summary_heading"> {{'Fare Summary' |
                            translate}}</p>
                        <div class="col-md-12 p-0 m-0 row pb-2">
                            <div class="col-md-12 textAlign ">
                                <span>{{'GDS Fee' }} :
                                    {{tripHotel?.prices_summary?.gds_fee}}</span><br>
                                <span>{{'OTA Fee' }} :
                                    {{tripHotel?.prices_summary?.ota_fee}}</span>
                            </div>
                        </div>
                        <p class=" pt-2 pr-5 hotel_price_total">{{'You Pay' |
                            translate}} {{tripHotel?.prices_summary?.total_price}}
                        </p>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-md-1 pl-0 pr-2 pt-1 m-auto text-center" (click)="makkahotel = !makkahotel">
            <i *ngIf="makkahotel" class="downarrow icon_size_20 icns cursor-pointer"></i>
            <i *ngIf="!makkahotel" class="uparrow icon_size_20 icns cursor-pointer"></i>
        </div>
        <div class="row col-md-12 p-0 ml-0 mr-0 mt-2 p20 brdrtop" *ngIf="!makkahotel">
            <div class="col-md-6 p-0">
                <div class="flexaround mrgndetails">
                    <div>
                        <div class="d-flex">
                            <i class="calendaricon icon_h18_w15 icns"></i>
                            <p class="pl-2 pr-2 fs13 fw500">CHECK-IN</p>
                            <i class="icon_h18_w11 icns downarrow"></i>
                        </div>
                        <p class="fw600 fs21">{{tripHotel?.check_in_time | date: 'mediumDate'}}</p>
                        <p class="clr52 fs12">{{tripHotel?.check_in_time | date: 'EEEE'}}</p>
                    </div>
                    <div class="text-center mt-2">
                        <i class="nighticon icon_size_20 icns"></i>
                        <p class="textgrey font14">4 Nights</p>
                    </div>
                    <div class="text-left">
                        <div class="d-flex">
                            <i class="calendaricon icon_h18_w15 icns"></i>
                            <p class="pl-2 pr-2 fs13 fw500">CHECK-OUT</p>
                            <i class="icon_h18_w11 icns downarrow"></i>
                        </div>
                        <p class="fw600 fs21">{{tripHotel?.check_out_time | date: 'mediumDate'}}</p>
                        <p class="clr52 fs12">{{tripHotel?.check_out_time | date: 'EEEE'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="d-flex justify-content-center">
                    <img class="mapheight mrgndetails" src="/assets/images/map.jpeg" alt="">
                </div>
            </div>
            <div class="col-md-12 p-0 row m-0">
                <div class="col-md-12 row m-0 p-2 brdrtop" *ngFor="let room of tripHotel?.room_variations">
                    <div class="col-md-4 col-6 clr52 fs14 fw600">{{room?.title}}</div>
                    <div class="col-md-4 col-6 fs14 clr52 fw500"><strong class="pr-1 fw600">{{room?.max_guests}}</strong>Guests</div>
                    <div class="col-md-2 col-6 fs12">{{room?.room?.is_refundable}}</div>
                    <div class="col-md-2 col-6 text-right fs14">{{room?.currency}} {{room?.room?.amount}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
