<div class="container-fluid" id="top">
    <div class="container">
        <h4 class="text-center text-uppercase text-white">{{details?.name}}</h4>
        <h6 class="text-center text-uppercase text-white">{{details?.role}}</h6>
        <div class="d-flex justify-content-center">
            <table class="table table-striped bg-light mt-3" style="width: 65%;">
                <tbody>
                    <tr>
                        <td>{{'User Name' | translate}}</td>
                        <td>:</td>
                        <td>{{details?.branch?.contact_person_name}}</td>
                    </tr>
                    <tr>
                        <td>{{'Phone Number' | translate}}</td>
                        <td>:</td>
                        <td>{{details?.phone_number}}</td>
                    </tr>
                    <tr>
                        <td>{{'Email' | translate}}</td>
                        <td>:</td>
                        <td>{{details?.email}}</td>
                    </tr>
                    <tr>
                        <td>Agency</td>
                        <td>:</td>
                        <td>{{details?.branch?.agency?.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h6 class="mt-5 text-center text-white">Branch Details</h6>
        <div class="d-flex justify-content-center">
            <table class="table table-striped bg-light" style="width: 65%;">
                <tbody>
                    <tr>
                        <td>{{'Branch Name' | translate}}</td>
                        <td>:</td>
                        <td>{{details?.branch?.name}}</td>
                    </tr>
                    <tr>
                        <td>{{'Contact Person Name' | translate}}</td>
                        <td>:</td>
                        <td>{{details?.branch?.contact_person_name}}</td>
                    </tr>
                    <tr>
                        <td>{{'Address' | translate}}</td>
                        <td>:</td>
                        <td>{{details?.branch?.address}}</td>
                    </tr>
                    <tr>
                        <td>{{'Phone Number' | translate}}</td>
                        <td>:</td>
                        <td>{{details?.branch?.phone_number}}</td>
                    </tr>
                    <tr>
                        <td>{{'Email' | translate}}</td>
                        <td>:</td>
                        <td>{{details?.branch?.email}}</td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>