#top {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #e1e7ee;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #051322, #15457c);
    background-size: 100% 448px;
    min-height: 100vh;
}