<div class="outer">
    <div class="banner">
        <img src="/assets/images/mkbg.jpg">
        <div class="black position-absolute">
            <h4>LUXURY UMRAH PACKAGE FROM KOZHIKKODE 2021</h4>
            <p>Akbar Travels Kozhikkode | Departure Date : April 22 Onwards</p>
        </div>
        <div class="bottom">
            <div class="container">
                <div class="row">
                    <div class="aligner">
                        <div class="d-flex box-3">
                            <mat-icon class="icon">room</mat-icon>
                            <div>
                                <p>Departure From</p>
                                <h5>Kozhikkode Airport</h5>
                            </div>
                        </div>
                        <div class="d-flex box-3">
                            <mat-icon class="icon">schedule</mat-icon>
                            <div>
                                <p>Duration</p>
                                <h5>14 Days</h5>
                            </div>
                        </div>
                        <div class="d-flex box-3">
                            <mat-icon class="icon">today</mat-icon>
                            <div>
                                <p>Departure Date</p>
                                <h5>21 April Onwards</h5>
                            </div>
                        </div>
                        <div class="d-flex box-3">
                            <mat-icon class="icon">group</mat-icon>
                            <div>
                                <p>Members</p>
                                <h5>5 Adults, 2 Childs</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="boxborder p30">
            <div class="fs22 fw500 blue_text">Enter your details</div>
            <div class="row mx-0 mt-3">
                <div class="col-md-3 pl-0">
                    <label class="fs14 fw400 lh14">Full Name</label>
                    <input type="text" class="owldatebrdr w-100 form-control">
                </div>
                <div class="col-md-3 pl-0">
                    <label class="fs14 fw400 lh14">Email</label>
                    <input type="text" class="owldatebrdr w-100 form-control">
                </div>
                <div class="col-md-3 pl-0">
                    <label class="fs14 fw400 lh14">Contact Number</label>
                    <input type="text" class="owldatebrdr w-100 form-control">
                </div>
            </div>
        </div>
        <div class="boxborder p30 mt-3">
            <div class="row mx-0">
                <div class="col-md-6 px-0 brdr_right_d3 text-center">
                    <div class="fs22 fw500 mb-1">Final Package Price</div>
                    <div class="fs22 fw500">₹ 39,400 /-</div>
                    <p class="clr52 fs14">GST Included</p>
                </div>
                <div class="col-md-6 px-0 text-center">
                    <div class="fs22 fw500 mb-1">Booking Advance Payable</div>
                    <div class="fs22 fw500">₹ 10,400 /-</div>
                    <p class="clr52 fs14">GST Included</p>
                </div>
            </div>
        </div>
        <div class="mt-3 text-center">
            <button class="searchbutton" (click)="navigateConfirm()">Book Now</button>
        </div>
    </div>
</div>