<div class="topofcomponent">
    <div class="text-center bg_blue text-white p10">
        <h1 class="mb-0 fs28">UMRAH PACKAGES</h1>
        <h3 class="fs18">Get a great price on your Umrah Packages.</h3>
    </div>
    <div class="bg_f1">
        <div class="algn justifycenter container">
            <div class="p-2 d-flex">
                <div class="subtext m-auto">Sort By</div>
                <div class="position-relative p-2">
                    <div class="position-relative d-flex justify-content-between w200 bordrservice px-2 cursor-pointer" (click)="showSelectionPopup()" #serviceDropDown>
                        <p class="fs14 my-auto">{{service}}</p>
                        <i class="icns downarrow icon_h32_w12"></i>
                    </div>
                    <div class="travellerpopupp popupmoving" *ngIf="showSelectionPopUp" #selectionPopUp>
                        <div class="travellersouterr">
                            <div class="d-flex flex-column w-100">
                                <div class="p10">
                                    <mat-radio-group class="exampleradiogroup" [(ngModel)]="service">
                                        <mat-radio-button value="All Months" (change)="onServiceItemChange('all')">All Months</mat-radio-button>
                                        <mat-radio-button value="January" (change)="onServiceItemChange('01')">January</mat-radio-button>
                                        <mat-radio-button value="February" (change)="onServiceItemChange('02')">February</mat-radio-button>
                                        <mat-radio-button value="March" (change)="onServiceItemChange('03')">March</mat-radio-button>
                                        <mat-radio-button value="April" (change)="onServiceItemChange('04')">April</mat-radio-button>
                                        <mat-radio-button value="May" (change)="onServiceItemChange('05')">May</mat-radio-button>
                                        <mat-radio-button value="June" (change)="onServiceItemChange('06')">June</mat-radio-button>
                                        <mat-radio-button value="July" (change)="onServiceItemChange('07')">July</mat-radio-button>
                                        <mat-radio-button value="August" (change)="onServiceItemChange('08')">August</mat-radio-button>
                                        <mat-radio-button value="September" (change)="onServiceItemChange('09')">September</mat-radio-button>
                                        <mat-radio-button value="October" (change)="onServiceItemChange('10')">October</mat-radio-button>
                                        <mat-radio-button value="November" (change)="onServiceItemChange('11')">November</mat-radio-button>
                                        <mat-radio-button value="December" (change)="onServiceItemChange('12')">December</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <select name="" id="" class="form-control" (change)="onAirportSelected($event.target.value)">
                        <option  disabled selected>Starting Airport</option>
                        <option  *ngFor="let item of depatureAirports">{{item}}</option>
                    </select>
                </div>
                <div class="p-2">
                    <select name="" id="" class="form-control" (change)="onNoOfDaysSelected($event.target.value)">
                        <option disabled selected>Number of days</option>
                        <option *ngFor="let item of numberOfDays">{{item}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3 mb-5">
        <div class="row mx-0" *ngIf="shimmer">
            <div class="col-md-4" *ngFor="let k of [].constructor(10);">
                <div class="margincard px-0 bordershadow">
                    <div class="image-div">
                        <div class="shine w-100 h-100 bsize170 border_radius_top"></div>
                    </div>
                    <div class="cardHead"></div>
                    <div class="d-flex justify-content-start detailsicon">
                        <div class="text-center">
                            <i class="airplane_blue icns icon_size_20"></i>
                            <p class="iconnames">Flight</p>
                        </div>
                        <div class="plussize">+</div>
                        <div class="text-center">
                            <i class="hotelblueicon icns icon_size_20"></i>
                            <p class="iconnames">Hotel</p>
                        </div>
                        <div class="plussize">+</div>
                        <div class="text-center">
                            <i class="transportblueicon icns icon_size_20"></i>
                            <p class="iconnames">Travel</p>
                        </div>
                        <div class="plussize">+</div>
                        <div class="text-center">
                            <i class="visa_icon_blue icns icon_size_20"></i>
                            <p class="iconnames">Visa</p>
                        </div>
                    </div>

                    <div class="col-md-12 pt-2">
                        <div class="night_from d-flex"><i class="icns locationmarkicon icon_size_15"></i>
                            <div class="pl-2">
                                <div class="shine h16 ws200"></div>
                            </div>
                        </div>
                        <div class="night_from d-inline-flex"><i class="icns moonicon icon_size_15"></i>
                            <div class="pl-2">
                                <div class="shine h16 ws130"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12 pt-3 pb-3">
                        <div class="col-md-6 pad-lft">
                            <p class="operatedby text-uppercase">Operated By</p>
                            <div class="operatedname">
                                <div class="shine h20 ws130"></div>
                            </div>
                        </div>
                        <div class="col-md-6 bttnright">
                            <button class="blackborderbttn bg-white disablebtn" type="button">View Details</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mx-0" *ngIf="!shimmer">
            <div class="col-md-4" *ngFor="let item of packages">
                <div class="margincard px-0 bordershadow">
                    <!-- <div>
                        <img class="carttag" src="/assets/images/tag-bg.png" alt="">
                        <p class="recmmtdtext">Recommended</p>
                    </div> -->
                    <div class="image-div">
                        <img class="border_radius_top" src="/assets/images/imagemakkah.jpg" alt="">
                    </div>
                    <div class="cardHead">{{item?.title}}</div>
                    <div class="d-flex justify-content-start detailsicon">
                        <div class="text-center">
                            <i class="airplane_blue icns icon_size_20"></i>
                            <p class="iconnames">Flight</p>
                        </div>
                        <div class="plussize" *ngIf="item.makkah_hotel || item.medinah_hotel">+</div>
                        <div class="text-center" *ngIf="item.makkah_hotel || item.medinah_hotel">
                            <i class="hotelblueicon icns icon_size_20"></i>
                            <p class="iconnames">Hotel</p>
                        </div>
                        <div class="plussize">+</div>
                        <div class="text-center">
                            <i class="transportblueicon icns icon_size_20"></i>
                            <p class="iconnames">Travel</p>
                        </div>
                        <div class="plussize">+</div>
                        <div class="text-center">
                            <i class="visa_icon_blue icns icon_size_20"></i>
                            <p class="iconnames">Visa</p>
                        </div>
                    </div>

                    <div class="col-md-12 pt-2">
                        <div class="night_from d-flex"><i class="icns locationmarkicon icon_size_15"></i>
                            <div class="pl-2">From {{item?.boarding_city}} / {{item?.start_date | date:'dd MMMM y'}}</div>
                        </div>
                        <div class="night_from d-inline-flex"><i class="icns moonicon icon_size_15"></i>
                            <div class="pl-2">{{item?.num_days}} Nights</div>
                        </div>
                    </div>
                    <div class="row col-md-12 pt-3 pb-3">
                        <div class="col-md-6 pad-lft">
                            <p class="operatedby text-uppercase">Operated By</p>
                            <p class="operatedname" title="{{item?.operated_by}}">{{item?.operated_by}}</p>
                        </div>
                        <div class="col-md-6 bttnright">
                            <button class="blackborderbttn bg-white" (click)="viewPackageDetails(item.id)" type="button">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>