<div class="container-fluid topofcomponent position-relative pl-0 pr-0" id="subAgencyCreateTrip">
    <div class="bgbluestepper"></div>
    <div class="progressbar" *ngIf="showShimmer">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="container">
        <div>
            <mat-horizontal-stepper #stepper>
                <mat-step label="{{'Makkah Hotel' | translate}}" *ngIf="steps.includes('1')" state="apartment">
                    <div *ngIf="showShimmer">
                        <app-loader></app-loader>
                    </div>
                    <div *ngIf="hotelsList && hotelsList.length > 0">
                        <div class="headerdiv">
                            <div class="container d-flex justify-content-between">
                                <div class="pl4">
                                    <h3 class="fs22 mb-0">Hotels in Makkah</h3>
                                    <p class="blue_text">
                                        <span class="clr52">No of Days In Makkah </span> {{noOfDaysInMakkah}}
                                        <span class="crossbarsamll phonehide"></span>
                                        <span class="phonehide"><span class="clr52 ">No of Guest
                                            </span>{{travellersCount}}</span>
                                        <span class="crossbarsamll phonehide "></span>
                                        <span class="phonehide"><span class="clr52 ">Start </span>{{makkahCheckInDate |
                                            date:'MMM-dd'}}</span>
                                        <span class="phonehide ml-2"><span class="clr52 ">End
                                            </span>{{makkahCheckOutDate | date:'MMM-dd'}}</span>
                                    </p>
                                </div>
                                <div class="d-flex my-auto backbutton cursor-pointer" (click)="backToHomePage();">
                                    <i class="uparrow icns icon_size_20 trnsfer"></i>
                                    <span class="blue_text fs14 phonehide">Back to Home Page</span>
                                </div>
                            </div>
                        </div>
                        <app-makka-hotel (notifyGrandparent)="createTripHandle($event)"
                            (notifyCreateTripForChange)="moveToPaymentPage()" [hotelsList]="hotelsList">
                        </app-makka-hotel>
                    </div>
                </mat-step>
                <mat-step label="{{'Madeena Hotel' | translate}}" *ngIf="steps.includes('2')" state="apartment">
                    <div *ngIf="showShimmer">
                        <app-loader></app-loader>
                    </div>
                    <div *ngIf="hotelsList && hotelsList.length > 0">
                        <div class="headerdiv">
                            <div class="container d-flex justify-content-between">
                                <div class="pl4">
                                    <h3 class="fs22 mb-0">Hotels in Madinah</h3>
                                    <p class="blue_text">
                                        <span class="clr52">No of Days In Madinah </span>{{noOfDaysInMadeena}}
                                        <span class="crossbarsamll phonehide"></span>
                                        <span class="phonehide"><span class="clr52 ">No of Guest
                                            </span>{{travellersCount}}</span>
                                        <span class="crossbarsamll phonehide "></span>
                                        <span class="phonehide"><span class="clr52 ">Start </span>{{madeenaCheckInDate |
                                            date:'MMM-dd'}}</span>
                                        <span class="phonehide ml-2"><span class="clr52 ">End
                                            </span>{{madeenaCheckOutDate | date:'MMM-dd'}}</span>
                                    </p>
                                </div>
                                <div class="d-flex my-auto backbutton cursor-pointer" (click)="backToHomePage();">
                                    <i class="uparrow icns icon_size_20 trnsfer"></i>
                                    <span class="blue_text fs14 phonehide">Back to Home Page</span>
                                </div>
                            </div>
                        </div>
                        <app-makka-hotel (notifyGrandparent)="createTripHandle($event)"
                            (notifyCreateTripForChange)="moveToPaymentPage()" [hotelsList]="hotelsList">
                        </app-makka-hotel>
                    </div>
                </mat-step>
                <mat-step label="{{'Transport' | translate}}" *ngIf="steps.includes('3')" state="directions_bus">
                    <div class="pr-0 pl-0 pt-1 mt80">
                        <div class="headerdiv">
                            <div class="container d-flex justify-content-between">
                                <div class="pl4">
                                    <h3 class="fs22 mb-0">Transport</h3>
                                    <p class="blue_text">
                                        <span class="phonehide"><span class="clr52 ">No of Guest
                                            </span>{{travellersCount}}</span>
                                        <span class="crossbarsamll phonehide "></span>
                                        <span class="phonehide "><span class="clr52 ">Start </span>{{transportStartDate
                                            | date:'MMM-dd'}}</span>
                                    </p>
                                </div>
                                <div class="d-flex my-auto backbutton cursor-pointer" (click)="backToHomePage();">
                                    <i class="uparrow icns icon_size_20 trnsfer"></i>
                                    <span class="blue_text fs14 phonehide">Back to Home Page</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="mt60">
                                <div class="col-md-12  row m-0 justify-content-between filterstyle p015"
                                    *ngIf="isTransportResponseEmpty">
                                    <div id="routeSection" class="col-md-5 mb-0 pl-0">
                                        <ng-multiselect-dropdown [placeholder]="'Route' | translate" [data]="routeList"
                                            [settings]="dropdownSettings" (onSelect)="onRouteSelect($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                    <div id="vehicleSection" class="col-md-5 mb-0 pl-0 mt3">
                                        <ng-multiselect-dropdown [placeholder]="'Vehicle Type'| translate"
                                            [data]="vehicleTypeList" [(ngModel)]="vehicleTypeItems"
                                            [settings]="dropdownSettings" (onSelect)="onVehicleSelect($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                    <div id="transportSearchSection" class="col-md-2 pr-0 pl-0 mt3 w95">
                                        <button (click)=transportSearch() [disabled]="!disableBtn"
                                            class="searchButton searchButtonarabic" type="button">{{'Search' |
                                            translate}} <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <app-transport (notifyGrandparent)="createTripHandle($event)"
                                    [transportList]="transportList"></app-transport>
                            </div>
                        </div>
                    </div>
                </mat-step>
                <mat-step label="{{'Payment' | translate}}" state="payment">
                    <form [formGroup]="paymentForm">
                        <div class="col-md-12 p-0 mt80">
                            <div class="col-md-12" *ngIf="tripMakkahHotel || tripMadeenaHotel">
                                <h3 class="fs16 fw600 Premium_blue">{{'Review your hotel details'| translate}}</h3>
                            </div>
                            <app-payment-hotel [tripHotel]="tripMakkahHotel"
                                (notifyCreateTrip)="moveToCorrespondingPage($event)" [city]="cityFirst">
                            </app-payment-hotel>
                            <app-payment-hotel [tripHotel]="tripMadeenaHotel"
                                (notifyCreateTrip)="moveToCorrespondingPage($event)" [city]="citySecond">
                            </app-payment-hotel>
                            <div *ngIf="tripTransport">
                                <div class="col-md-12">
                                    <h3 class="fs16 fw600 Premium_blue">{{'Review your Transport details' | translate}}
                                    </h3>
                                </div>
                                <div *ngIf="!makkatransport">
                                    <app-payment-transport (notifyCreatetrip)="moveToTransportPage()"
                                        [transportFailed]="transportFailed" [tripTransport]="tripTransport">
                                    </app-payment-transport>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="d-flex justify-content-between">
                                    <h3 class="fs16 fw600 Premium_blue">{{'Traveller Details' | translate}}</h3>
                                    <span class="fs12 darkyellow">{{'Please make sure you enter the Name as per your
                                        Government photo id.' | translate}}</span>
                                </div>
                            </div>
                            <div class="col-md-12 pl-0 pr-0 pb-0">
                                <div class="travellers-detail">
                                    <mat-accordion class="bg-white">
                                        <form [formGroup]="travellers">
                                            <div class="d-flex justify-content-between bg-white">
                                            <div class="m-0 pl-0 pr-0 content-section">
                                                <div class="col-md-12 row ">
                                                    <div class="col-md-3 pt-2">
                                                        <label class="mb-0 fs14 clrlabel">First Name</label>
                                                        <mat-form-field appearance="outline">
                                                            <input formControlName="first_name"
                                                                id="firstName" matInput
                                                                placeholder="Enter First Name">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-3 pt-2">
                                                        <label class="mb-0 fs14 clrlabel">Last Name</label>
                                                        <mat-form-field appearance="outline">
                                                            <input id="lastName" matInput
                                                                placeholder="Enter Last Name"
                                                                formControlName="last_name">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-3 pt-2">
                                                        <label class="mb-0 fs14 clrlabel">Gender</label>
                                                        <mat-form-field appearance="outline">
                                                            <mat-label>Gender</mat-label>
                                                            <mat-select placeholder="Gender" value=""
                                                                id="gender" formControlName="gender">
                                                                <mat-option value="MALE">MALE</mat-option>
                                                                <mat-option value="FEMALE">FEMALE
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-3 pt-2">
                                                        <label class="mb-0 fs14 clrlabel">Date of Birth</label>
                                                        <mat-form-field appearance="outline" class="w88">
                                                            <input matInput [matDatepicker]="picker"
                                                                placeholder="MM/DD/YYYY" id="dob"
                                                                formControlName="dob">
                                                            <mat-datepicker-toggle matSuffix [for]="picker">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker>
                                                            </mat-datepicker>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-3 pt-2">
                                                        <label class="mb-0 fs14 clrlabel">Passport Number</label>
                                                        <mat-form-field appearance="outline">
                                                            <input id="passportNo{{adultIndex}}" matInput
                                                                placeholder="Enter Passport Number"
                                                                formControlName="passport_no">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-3 pt-2">
                                                        <label class="mb-0 fs14 clrlabel">Passport Expiry Date</label>
                                                        <mat-form-field appearance="outline" class="w88">
                                                            <input id="ped" matInput
                                                                [matDatepicker]="picker2" placeholder="MM/DD/YYYY"
                                                                formControlName="passport_expiry_date">
                                                            <mat-datepicker-toggle matSuffix [for]="picker2">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker2></mat-datepicker>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-3 pt-2">
                                                        <label class="mb-0 fs14 clrlabel">Nationality</label>
                                                        <mat-form-field appearance="outline">
                                                            <mat-select [(value)]="selectedNationality"
                                                                placeholder="Select Nationality"
                                                                id="nationality"
                                                                formControlName="nationality">
                                                                <mat-option *ngFor="let n of nationalityList"
                                                                    value="{{n.item_id}}">{{n?.item_text}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-3 pt-2">
                                                        <label class="mb-0 fs14 clrlabel">Country of Residence</label>
                                                        <mat-form-field appearance="outline">
                                                            <mat-select [(value)]="selectedCountry"
                                                                placeholder="Select Country of Residence"
                                                                id="cor"
                                                                formControlName="country_of_residence">
                                                                <mat-option *ngFor="let n of countryList"
                                                                    value="{{n.item_id}}">{{n?.item_text}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                    <div class="col-md-12 row ">
                                                        <div class="col-md-3 pt-2">
                                                            <label class="mb-0 fs14 clrlabel w-100">Phone Number</label>
                                                            <mat-form-field appearance="outline" class="w34">
                                                                <select matNativeControl name="phn_country_code"
                                                                    [(value)]="phoneCode" placeholder="Country Code"
                                                                    formControlName="country_code"
                                                                    id="phn_country_code">
                                                                    <option *ngFor="let n of phoneCodeList"
                                                                        value="{{n.item_id}}">{{n.item_id}}
                                                                    </option>
                                                                </select>
                                                            </mat-form-field>
                                                            <mat-form-field appearance="outline" class="w66">
                                                                <input matInput id="mobile{{adultIndex}}"
                                                                    placeholder="Enter Phone Number" numberOnly
                                                                    formControlName="phone_number">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-md-3 pt-2">
                                                            <label class="mb-0 fs14 clrlabel">Email</label>
                                                            <mat-form-field appearance="outline">
                                                                <input matInput id="email{{adultIndex}}"
                                                                    placeholder="Enter Email" formControlName="email">

                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-md-3 pt-2">
                                                            <label class="mb-0 fs14 clrlabel">Address</label>
                                                            <mat-form-field appearance="outline">
                                                                <input matInput id="address{{adultIndex}}"
                                                                    placeholder="Enter Address"
                                                                    formControlName="address">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                            </div></div>
                                        </form>
                                    </mat-accordion>
                                </div>
                                <div class="d-flex flex-row mrgin mt-2 mb-2 mr-4 ml-4">
                                    <div *ngIf="reference_no" class="mr-auto mt-2">
                                        <span style="color: #d33a2f;font-size: 15px;">{{'Booking Reference No' |
                                            translate}}
                                            :{{reference_no}} </span>
                                    </div>
                                    <div class="text-align-end"><button type="submit" id="payBtn" class="searchbutton"
                                            data-toggle="modal" data-target="#ibanPopup"
                                            (click)="setTimerForIbanPopup()">{{'PAY' | translate}}</button> </div>
                                </div>
                                <div class="d-flex flex-row m-2">
                                    <div class="p-2 ml-auto"></div>
                                    <div><button (click)="bookTrip()" type="submit" id="continueBooking"
                                            class="searchbutton">{{'BOOK & CONTINUE' | translate}}</button> </div>
                                    <div class="p-2"></div>
                                </div>
                                <div style="height: 100px;background:#eaeaea;"></div>
                            </div>
                        </div>
                    </form>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>

<div [style.display]="additionalServiceCount ? 'block' : 'none'" class="modal" id="additionalServiceCount" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div *ngIf="setDataForAddServiceCountPopUP?.additional_service_code == '1'">
                            <h6>{{'No of Umrah Guidance Needed' | translate }} :</h6>
                        </div>
                        <div *ngIf="setDataForAddServiceCountPopUP?.additional_service_code == '2'">
                            <h6>{{'No of Wheel Chair Needed' | translate }} :</h6>
                        </div>
                        <div *ngIf="setDataForAddServiceCountPopUP?.additional_service_code == '3'">
                            <h6>{{'No of Wheel Chair with Assistant Needed' | translate }} :</h6>
                        </div>
                        <div *ngIf="setDataForAddServiceCountPopUP?.additional_service_code == '4'">
                            <h6>{{'No of Male Companion Needed' | translate }} :</h6>
                        </div>
                        <div *ngIf="setDataForAddServiceCountPopUP?.additional_service_code == '5'">
                            <h6>{{'No of Female Companion Needed' | translate }} :</h6>
                        </div>
                        <div *ngIf="setDataForAddServiceCountPopUP?.additional_service_code == '6'">
                            <h6>{{'No of Baby Sitter Needed' | translate }} :</h6>
                        </div>
                    </div>
                    <div class="row">
                        <mat-form-field>
                            <mat-label>{{'Select' | translate}}</mat-label>
                            <select matNativeControl [(ngModel)]="addSrvCount" name="service">
                                <option
                                    *ngFor="let k of [].constructor(setDataForAddServiceCountPopUP?.quantity) | slice:0:50; let p = index;"
                                    value="{{p+1}}">{{p+1}}</option>
                            </select>
                        </mat-form-field>
                        <button class="okbutton">{{'Submit'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="ibanPopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{'IBAN Payment' | translate}}</h4>
                <button id="ibanClose" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="modal-body" style="font-size: 12px;">
                    <div class="col-md-12">
                        <div class="col-md-12 pb-1"><strong style="color: red;">*</strong> {{'IBAN Accound Number' |
                            translate}}:</div>
                        <div class="col-md-12"><input type="text" class="form-control" id="acc_no" [(ngModel)]="accNo">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12 pb-1"><strong style="color: red;">*</strong> {{'Authe Code' | translate}}:
                        </div>
                        <div class="col-md-12"><input type="text" class="form-control" id="auth_code"
                                [(ngModel)]="authCode"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p>OTP will expire in {{timeLeft}}</p>
                <button type="button" class="btn btn-danger" (click)="onSubmitButtonClicked()"
                    data-dismiss="modal">{{'Submit'|translate}}</button>
            </div>
        </div>
    </div>
</div>