<div class="container-fluid topofcomponent position-relative pl-0 pr-0" id="subAgencyCreateTrip">
    <div class="bgbluestepper"></div>
    <div class="container mirr_text_right">
        <div>
            <mat-horizontal-stepper #stepper>
                <mat-step label="{{'Makkah Hotel' | translate }}" *ngIf="steps.includes('1')" state="apartment">
                    <div *ngIf="showShimmer">
                        <app-loader></app-loader>
                    </div>
                    <div *ngIf="hotelsList && hotelsList.length > 0">
                        <div class="headerdiv">
                            <div class="container d-flex justify-content-between">
                                <div class="pl4">
                                    <h3 class="fs22 mb-0">{{'Hotels in Makkah' | translate}}</h3>
                                    <p class="blue_text">
                                        <span class="clr52">{{'No of Days In Makkah' | translate}} </span> {{noOfDaysInMakkah}}
                                        <span class="crossbarsamll phonehide"></span>
                                        <span class="phonehide"><span class="clr52 ">{{'No of Guest' | translate}}
                                            </span>{{travellersCount}}</span>
                                        <span class="crossbarsamll phonehide "></span>
                                        <span class="phonehide"><span class="clr52 ">{{'Start' | translate}}
                                            </span>{{makkahCheckInDate | date:'MMM-dd'}}
                                        </span>
                                        <span class="phonehide ml-2"><span class="clr52 ">{{'End' | translate}}
                                            </span>{{makkahCheckOutDate | date:'MMM-dd'}}</span>
                                    </p>
                                </div>
                                <div class="d-flex my-auto backbutton cursor-pointer" (click)="backToHomePage();">
                                    <div class="mirr_hide"><i class="uparrow icns icon_size_20 trnsfer"></i></div>
                                    <div class="blue_text fs14 phonehide">{{'Back to Home Page' | translate}}</div>
                                    <div class="mirr_display"><i class="uparrow icns icon_size_20 trnsfer"></i></div>
                                </div>
                            </div>
                        </div>
                        <app-makka-hotel (notifyGrandparent)="createTripHandle($event)" (notifyCreateTripForChange)="moveToPaymentPage()" [hotelsList]="hotelsList">
                        </app-makka-hotel>
                    </div>
                </mat-step>
                <mat-step label="{{'Madeena Hotel' | translate }}" *ngIf="steps.includes('2')" state="apartment">
                    <div *ngIf="showShimmer && hotelsList.length == 0">
                        <app-loader></app-loader>
                    </div>
                    <div *ngIf="hotelsList && hotelsList.length > 0">
                        <div class="headerdiv">
                            <div class="container d-flex justify-content-between">
                                <div class="pl4">
                                    <h3 class="fs22 mb-0">{{'Hotels in Madinah' | translate }}</h3>
                                    <p class="blue_text">
                                        <span class="clr52">{{'No of Days In Madinah' | translate}}
                                        </span>{{noOfDaysInMadeena}}
                                        <span class="crossbarsamll phonehide"></span>
                                        <span class="phonehide"><span class="clr52 ">{{'No of Guest' | translate}}
                                            </span>{{travellersCount}}</span>
                                        <span class="crossbarsamll phonehide "></span>
                                        <span class="phonehide"><span class="clr52 ">{{'Start' | translate}}
                                            </span>{{madeenaCheckInDate | date:'MMM-dd'}}
                                        </span>
                                        <span class="phonehide ml-2"><span class="clr52 ">{{'End' | translate}}
                                            </span>{{madeenaCheckOutDate | date:'MMM-dd'}}</span>
                                    </p>
                                </div>
                                <div class="d-flex my-auto backbutton cursor-pointer" (click)="backToHomePage();">
                                    <div class="mirr_hide"><i class="uparrow icns icon_size_20 trnsfer"></i></div>
                                    <div class="blue_text fs14 phonehide">{{'Back to Home Page' | translate}}</div>
                                    <div class="mirr_display"><i class="uparrow icns icon_size_20 trnsfer"></i></div>
                                </div>
                            </div>
                        </div>
                        <app-makka-hotel (notifyGrandparent)="createTripHandle($event)" (notifyCreateTripForChange)="moveToPaymentPage()" [hotelsList]="hotelsList">
                        </app-makka-hotel>
                    </div>
                </mat-step>
                <mat-step label="{{'Transport' | translate}}" *ngIf="steps.includes('3')" state="directions_bus">
                    <div class="pr-0 pl-0 pt-1 mt80">
                        <div class="headerdiv">
                            <div class="container d-flex justify-content-between">
                                <div class="pl4">
                                    <h3 class="fs22 mb-0">{{'Transport' | translate}}</h3>
                                    <p class="blue_text">
                                        <span class="phonehide"><span class="clr52 ">{{'No of Guest' | translate}}
                                            </span>{{travellersCount}}</span>
                                        <span class="crossbarsamll phonehide "></span>
                                        <span class="phonehide "><span class="clr52 ">{{'Start' | translate}}
                                            </span>{{transportStartDate | date:'MMM-dd'}}</span>
                                    </p>
                                </div>
                                <div class="d-flex my-auto backbutton cursor-pointer" (click)="backToHomePage();">
                                    <div class="mirr_hide"><i class="uparrow icns icon_size_20 trnsfer"></i></div>
                                    <div class="blue_text fs14 phonehide">{{'Back to Home Page' | translate}}</div>
                                    <div class="mirr_display"><i class="uparrow icns icon_size_20 trnsfer"></i></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="mt60">
                                <div class="animationdiv" *ngIf="transportList && transportList.length == 0">
                                    <div *ngFor="let item of freeArray">
                                        <div  class="displyflex box border_box_shadow">
                                            <div class="photo m-2 shine wdth100"></div>
                                            <div>
                                                <div class="lines shine m-1 width40 wdth100"></div><br>
                                                <div class="lines shine m-1 width40 wdth100"></div><br>
                                                <div class="lines shine m-1 width40 wdth100"></div><br>
                                                <div class="lines shine m-1 width40 wdth100"></div>
                                            </div>
                                            <div class="ml-auto phonenone">
                                                <div class="lines shine m-1 width21"></div><br>
                                                <div class="lines shine m-1 width21"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <app-transport (notifyGrandparent)="createTripHandle($event)" [transportList]="transportList"></app-transport>
                            </div>
                        </div>
                    </div>
                </mat-step>
                
                <mat-step label="{{'Payment' | translate}}" state="payment">
                    <form [formGroup]="paymentForm">
                        <div class="col-md-12 p-0 mt80">
                            <div class="col-md-12" *ngIf="tripMakkahHotel || tripMadeenaHotel">
                                <h3 class="fs16 fw600 Premium_blue">{{'Hotel details'| translate}}</h3>
                            </div>
                            <app-payment-hotel *ngIf="tripMakkahHotel" [tripHotel]="tripMakkahHotel" (notifyCreateTrip)="moveToCorrespondingPage($event)" [city]="cityFirst">
                            </app-payment-hotel>
                            <app-payment-hotel *ngIf="tripMadeenaHotel" [tripHotel]="tripMadeenaHotel" (notifyCreateTrip)="moveToCorrespondingPage($event)" [city]="citySecond">
                            </app-payment-hotel>
                            <div *ngIf="tripTransport">
                                <div class="col-md-12">
                                    <h3 class="fs16 fw600 Premium_blue">{{'Transport details' | translate }}
                                    </h3>
                                </div>
                                <div *ngIf="!makkatransport">
                                    <app-payment-transport (notifyCreatetrip)="moveToTransportPage()" [transportFailed]="transportFailed" [tripTransport]="tripTransport">
                                    </app-payment-transport>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="d-flex justify-content-between">
                                    <h3 class="fs16 fw600 Premium_blue">{{'Traveller Details' | translate}}</h3>
                                    <span class="fs12 darkyellow">{{'Please make sure you enter the Name as per your Government photo id.' | translate }}</span>
                                </div>
                            </div>
                            <div class="col-md-12 pl-0 pr-0 pb-0">
                                <div class="travellers-detail">
                                    <form [formGroup]="travellersForm" class="bg-white p-4 one-edge-shadow">
                                        <div class="d-flex justify-content-between bg-white">
                                            <div class="m-0 pl-0 pr-0 row">
                                                <div class="col-md-12 row ">
                                                    <div class="col-md-3 pt-2">
                                                        <label class="mb-0 fs14 clrlabel">{{'First Name' | translate}}</label>
                                                        <input class="form-control pd" formControlName="first_name" id="firstName" placeholder="{{'Enter First Name' |
                                                            translate}}" [ngClass]="{ 'is-invalid': submitted && g.first_name.errors }" (keypress)="omit_special_char($event)">
                                                        <div *ngIf="submitted && g.first_name.errors" class="invalid-feedback fs11">
                                                            <div *ngIf="g.first_name.errors.minlength">{{'First Name must be at least 3 characters' | translate}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 pt-2">
                                                        <label class="mb-0 fs14 clrlabel">{{'Last Name' | translate}}</label>

                                                        <input class="form-control pd" id="lastName" placeholder="{{'Enter Last Name' | translate}}" formControlName="last_name" [ngClass]="{ 'is-invalid': submitted && g.last_name.errors }" (keypress)="omit_special_char($event)">
                                                        <div *ngIf="submitted && g.last_name.errors" class="invalid-feedback fs11">
                                                            <div *ngIf="g.last_name.errors.minlength">{{'Last Name must be at least 3 characters' | translate}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 pt-2">
                                                        <label class="mb-0 fs14 clrlabel">{{'Gender' | translate}}</label>
                                                        <mat-select class="matSlct pd form-control" placeholder="{{'Gender' | translate}}" value="" id="gender" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && g.gender.errors }">
                                                            <mat-option value="MALE">{{'MALE' | translate}}</mat-option>
                                                            <mat-option value="FEMALE">{{'FEMALE' | translate}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p class="mb-0 fs14 pl-1 pdt">{{'Date of Birth' | translate}}
                                                        </p>
                                                        <div [owlDateTimeTrigger]="dt11" class="position-relative">
                                                            <input placeholder="{{'Date of Birth' | translate}}" class="owldatepicker form-control fs14 bordrservice removeoutline" [owlDateTime]="dt11" formControlName="dob" [ngClass]="{ 'is-invalid': submitted && g.dob.errors }">
                                                            <i class="icns calendaricon icon_size_20 cursor-pointer calendarposition mirr_clndr_icon"></i>
                                                        </div>
                                                        <owl-date-time [pickerType]="'calendar'" #dt11></owl-date-time>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 row">
                                                    <div class="col-md-3 pt-2">
                                                        <label class="mb-0 fs14 clrlabel">{{'Passport Number' |
                                                            translate}}</label>
                                                        <input class="form-control pd" id="passportNo" placeholder="{{'Enter Passport Number' | translate}}" formControlName="passport_no" [ngClass]="{ 'is-invalid': submitted && g.passport_no.errors }">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="mb-0 fs14 pl-1 pdt d-flex">
                                                            <div>{{'Passport Expiry Date' | translate}}</div>
                                                            <div class="errortooltip cursor-pointer pl10 mpl0 mpr10">
                                                                <i class="fa fa-info-circle Premium_blue" aria-hidden="true"></i>
                                                                <div class="errortooltiptext top102 left27m">
                                                                    {{'Minimum 6 Months Validity' | translate}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div [owlDateTimeTrigger]="dt10" class="position-relative">
                                                            <input placeholder="{{'Expiry Date' | translate}}" class="owldatepicker fs14 bordrservice removeoutline form-control" formControlName="passport_expiry_date" [owlDateTime]="dt10" [ngClass]="{ 'is-invalid': submitted && g.passport_expiry_date.errors }"
                                                                [min]="minpassportExpDate">
                                                            <i class="icns calendaricon icon_size_20 cursor-pointer calendarposition mirr_clndr_icon"></i>
                                                        </div>
                                                        <owl-date-time [pickerType]="'calendar'" #dt10></owl-date-time>
                                                    </div>
                                                    <div class="col-md-3 pt-2">
                                                        <label class="mb-0 fs14 clrlabel">{{'Nationality' |
                                                            translate}}</label>
                                                        <select class="form-control pd" [ngModelOptions]="{standalone: true}" [(ngModel)]="nationality" [disabled]="disablePayBttn">
                                                            <option *ngFor="let n of nationalityList"
                                                                [value]="n.item_text">{{n?.item_text}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3 pt-2">
                                                        <label class="mb-0 fs14 clrlabel">{{'Country of Residence' |
                                                            translate}}</label>
                                                        <select class="form-control pd" [ngModelOptions]="{standalone: true}" [(ngModel)]="country_of_residence" [disabled]="disablePayBttn">
                                                            <option *ngFor="let n of nationalityList"
                                                                [value]="n.item_text">{{n?.item_text}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 row">
                                                    <div class="col-md-3 pt-2" style="padding-left: 13px;">
                                                        <label id="phnnumberlbl" class="mb-0">{{'Phone Number' |
                                                            translate}}</label>
                                                        <div class="form-group row pl-2">
                                                            <!-- <select name="" id="" class="form-control w20" [ngModelOptions]="{standalone: true}" [(ngModel)]="countryCode">
                                                                <option *ngFor="let n of phoneCodeList"
                                                                    [value]="n.item_id">{{n.item_id}}
                                                                </option>
                                                            </select>
                                                            <input id="phnnumber" max="10" placeholder="Enter Phone Number" type="text" maxlength="15" formControlName="phone_number" class="form-control w80" [ngClass]="{ 'is-invalid': submitted && g.phone_number.errors }" numberOnly> -->
                                                            <input ng2TelInput [ng2TelInputOptions]="{preferredCountries:['in','sa', 'ae','qa'], separateDialCode:true}" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.phone_number.errors }" #phoneInput id="phoneInput" type="text" (countryChange)="onCountryChange($event)"
                                                                (input)="inputValidation($event)" maxlength="15" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode)) || event.keyCode==32) return false;" formControlName="phone_number" />
                                                            <span *ngIf="travellersForm.controls['phone_number'].errors?.pattern &&
                                                            travellersForm.controls['phone_number'].touched">
                                                                <p>Mobile number must be valid</p>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3 pt-2">
                                                        <label class="mb-0 fs14 clrlabel">{{'Email' |
                                                            translate}}</label>
                                                        <input class="form-control pd" id="email" placeholder="{{'Enter Email' |
                                                            translate}}" formControlName="email" [ngClass]="{ 'is-invalid': submitted && g.email.errors }">
                                                    </div>
                                                    <div class="col-md-3 pt-2">
                                                        <label class="mb-0 fs14 clrlabel">{{'Address' |
                                                            translate}}</label>
                                                        <input class="form-control pd" id="address" placeholder="{{'Enter Address' |
                                                            translate}}" formControlName="address" [ngClass]="{ 'is-invalid': submitted && g.address.errors }">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--  <div class="d-flex flex-row mrgin mt-2 mb-2 mr-4 ml-4">
                                    <div class="text-align-end"><button type="submit" id="payBtn" class="searchbutton" data-toggle="modal" data-target="#ibanPopup" (click)="setTimerForIbanPopup()">{{'PAY' }}</button> </div>
                                </div>-->
                                <div class="d-flex flex-row m-2">
                                    <div class="p-2 ml-auto"></div>
                                    <div><button (click)="bookTrip()" [disabled]="disablePayBttn" type="submit" [class.bttnactive]="bookContinue" id="continueBooking" class="searchbutton">{{'Click here for booking' |
                                            translate}}</button>
                                    </div>
                                    <div class="p-2"></div>
                                </div>
                                <div style="height: 100px;background:#eaeaea;"></div>
                            </div>
                        </div>
                    </form>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>

<div [style.display]="additionalServiceCount ? 'block' : 'none'" class="modal" id="additionalServiceCount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div *ngIf="setDataForAddServiceCountPopUP?.additional_service_code == '1'">
                            <h6>{{'No of Umrah Guidance Needed' }} :</h6>
                        </div>
                        <div *ngIf="setDataForAddServiceCountPopUP?.additional_service_code == '2'">
                            <h6>{{'No of Wheel Chair Needed' }} :</h6>
                        </div>
                        <div *ngIf="setDataForAddServiceCountPopUP?.additional_service_code == '3'">
                            <h6>{{'No of Wheel Chair with Assistant Needed' }} :</h6>
                        </div>
                        <div *ngIf="setDataForAddServiceCountPopUP?.additional_service_code == '4'">
                            <h6>{{'No of Male Companion Needed' }} :</h6>
                        </div>
                        <div *ngIf="setDataForAddServiceCountPopUP?.additional_service_code == '5'">
                            <h6>{{'No of Female Companion Needed' }} :</h6>
                        </div>
                        <div *ngIf="setDataForAddServiceCountPopUP?.additional_service_code == '6'">
                            <h6>{{'No of Baby Sitter Needed' }} :</h6>
                        </div>
                    </div>
                    <div class="row">
                        <mat-form-field>
                            <mat-label>{{'Select' }}</mat-label>
                            <select matNativeControl [(ngModel)]="addSrvCount" name="service">
                                <option
                                    *ngFor="let k of [].constructor(setDataForAddServiceCountPopUP?.quantity) | slice:0:50; let p = index;"
                                    value="{{p+1}}">{{p+1}}</option>
                            </select>
                        </mat-form-field>
                        <button class="okbutton">{{'Submit'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div [style.display]="showIbanPopup ? 'block' : 'none'" class="modal" id="ibanPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{'IBAN Payment' | translate}}</h4>
                <button id="ibanClose" type="button" class="close" (click)="closeIbanPopUp()" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="modal-body" style="font-size: 12px;">
                    <div class="col-md-12">
                        <div class="col-md-12 pb-1"><strong style="color: red;">*</strong> {{'IBAN Accound Number' | translate}}:
                        </div>
                        <div class="col-md-12"><input type="text" class="form-control" id="acc_no" [(ngModel)]="accNo">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12 pb-1"><strong style="color: red;">*</strong> {{'Authe Code' | translate}}:
                        </div>
                        <div class="col-md-12"><input type="text" class="form-control" id="auth_code" [(ngModel)]="authCode"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p>{{'OTP will expire in' | translate}} {{timeLeft}}</p>
                <button type="button" class="btn btn-danger" (click)="onSubmitButtonClicked()" data-dismiss="modal">{{'Submit' | translate}}</button>
            </div>
        </div>
    </div>
</div>
<ngx-spinner id="hotelSpinner" bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <div>
        <img class="spinnerImg" src="assets/images/paymentLoader.gif" alt="">
    </div>
</ngx-spinner>