.tablehead{
    font-size: 16px;
}
#recentHistory{
    .thead-light th{
        font-weight: bold;
        font-size: 14px;
    }
}
#recentHistory td {
    font-size: 14px;
}
#recentHistory{
    .modal-content{
        padding: 10px;
    }
    .modal-header{
        padding: 10px
    }
    .modal-title{
        font-size: 22px;
        font-weight: bold;
    }
}