<div class="tbl p-2">
    <div class="d-flex justify-content-between pt-2">
        <h1 class="tablehead blue_text fw600 fs16">Recent Booking</h1>
        <div class="blackborderbttn">View All Bookings</div>
    </div>
    <div class="pt-2 pb-3">
        <table class="table" id="recentHistory">
            <thead class="thead-light">
              <tr>
                <th>Departure Date</th>
                <th>No. of days</th>
                <th>No. of Travellers</th>
                <th>Booked by</th>
                <th>Amount</th>
                <th>Status</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of recentHistory;let i = index;">
                <td>{{item?.custom_trip?.start_date | date:'mediumDate'}}</td>
                <td>{{item?.num_days}}</td>
                <td>{{item?.custom_trip?.adults+item?.custom_trip?.children+item?.custom_trip?.infants}}</td>
                <td>{{item?.staff_name}}</td>
                <td>SAR {{item?.total_amount}}</td>
                <td>
                    <span class="green_text" *ngIf="item?.status == 'success'">Success</span>
                    <span class="red_text" *ngIf="item?.status == 'failed'">Failed</span>
                </td>
                <td><i class="infoicon icon_size_w17h23 icns cursor-pointer"></i></td>
                <td><i class="viewicon icon_size_25 icns cursor-pointer" (click)="viewhistory(item.id);"></i></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>