<div class="container-fluid pl-0 pr-0 mt60 pb-60 mirr_text_right">
    <div class="container px-0">
        <div class="row m-0">
            <div class="col-md-9 pl0 mpl15 mpr0" *ngIf="shimmer">
                <div *ngFor="let k of [].constructor(3)">
                    <div class=" mt-3">
                        <div class="border_box_shadow bg_white">
                            <div class="row m-0 p10">
                                <div class="col-md-12 p-0 brdrbottom mb10">
                                    <div class="shine h16 w-100 bookdpdng"></div>
                                </div>
                                <div class="col-md-12 p-0  ">
                                    <div class="shine h16 w-100 bookdpdng"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9 pl0 mpl15 mpr0" *ngIf="!shimmer">
                <h2 class="fs16 Premium_blue fw600 pt25" *ngIf="tripMakkahHotel != null">{{'Makkah Hotel Details' | translate}}
                </h2>
                <div class="border_box_shadow bg_white" [class.errorBox]="tripMakkahHotel?.status== 'failed' || tripMakkahHotel?.status=='cancelled'" *ngIf="tripMakkahHotel != null">
                    <div class="row m-0 p10">
                        <div class="col-md-12 p-0 brdrbottom mb10" *ngIf="tripMakkahHotel?.status=='success'">
                            <div class="d-inline-flex">
                                <div class="d-inline-flex bookdpdng brdrR mirr_brdr_right_none mirr_brdr_left">
                                    <i class="selectedgreentickicon icns icon_size_20"></i>
                                    <div class="fs14 fw600 success_text ml10 mml0 mmr10">{{'BOOKED' | translate}}</div>
                                </div>
                                <div class="fs13 fw600 Premium_blue bookdpdng">
                                    {{'Reference No' | translate}}. (BRN) - {{tripMakkahHotel?.brn}}
                                </div>
                            </div>
                            <div class="float_right fs14 list_clr textunderline cursor-pointer mirr_float_left" data-toggle="modal" data-target="#makkahPolicy">{{'Cancellation Policy' | translate}}</div>
                            <div class="modal fade" id="makkahPolicy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog maxwdth700" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">{{'Cancellation Policy' | translate}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3" *ngFor="let item of tripMakkahHotel.trip_hotel.room_variations">
                                                <div *ngFor="let data of item.room">
                                                    <div class="d-inline-flex">
                                                        <div>{{data?.name}}</div>
                                                        <div class="mx-2">-</div>
                                                        <div class="green_text" *ngIf="data?.cancellation_policy?.is_refundable">{{'Refundable' | translate}}</div>
                                                        <div class="red_text" *ngIf="!data?.cancellation_policy?.is_refundable">{{'non_refundable' | translate}}</div>
                                                    </div>
                                                    <div class="mt-2 borderbox" *ngIf="data?.cancellation_policy?.is_refundable">
                                                        <div class="d-flex justify-content-between p10 brdr_btm_d3 fs15" *ngFor="let rule of data.cancellation_policy.rules">
                                                            <div class="d-inline-flex">
                                                                <div class="my-auto pr10 mpr0 mpl10"><i class="calendaricon icns icon_size_20"></i></div>
                                                                <div>
                                                                    <div><strong>{{'From' | translate}} : </strong> {{rule?.from_date_time | date:'medium'}}</div>
                                                                    <div><strong>{{'Till' | translate}} : </strong> {{rule?.to_date_time | date:'medium'}}</div>
                                                                    <div class="fs13 clr52 fw400" *ngIf="!rule?.is_noshow">( NOTE: Not applicable in No-Show )</div>
                                                                </div>
                                                            </div>
                                                            <div class="fw600">
                                                                <div class="text-capitalize">{{'Cancellation Charge' | translate}}</div>
                                                                <div>{{item?.currency}} {{rule?.charge?.chargeAmount}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-2 clr52 fs13" *ngIf="data?.cancellation_policy?.description">
                                                        <div class="fw600">{{'Description' | translate}}:</div>
                                                        <p>{{data?.cancellation_policy?.description}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 p-0 brdrbottom mb10" *ngIf="tripMakkahHotel?.status=='failed'">
                            <div class="d-inline-flex">
                                <div class="d-inline-flex bookdpdng">
                                    <i class="material-icons icns icon_size_20 clrrd">cancel</i>
                                    <div class="fs14 fw600 success_text ml10 mmr10 clrrd mt2p">{{'FAILED' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0 brdrbottom mb10" *ngIf="tripMakkahHotel?.status=='cancelled'">
                            <div class="d-inline-flex">
                                <div class="d-inline-flex bookdpdng">
                                    <i class="material-icons icns icon_size_20 clrrd">cancel</i>
                                    <div class="fs14 fw600 success_text ml10 mmr10 clrrd mt2p">{{'CANCELLED' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-12 pl-0 pr-0 my-auto">
                            <i class="hotelblueicon icns icon_size_30 imgposition mirr_float_right"></i>
                            <div class="Premium_blue fs14 fw600 ">
                                <div>{{'MEKKAH' | translate}}</div>
                                <div>{{tripMakkahHotel?.trip_hotel?.check_in_time | date:'mediumDate'}}</div>
                            </div>
                        </div>
                        <div class="col-md-9 col-12 brdrR brdrL my-auto">
                            <div class="float_left mirr_float_right">
                                <div class="fw600 fs16">{{tripMakkahHotel?.trip_hotel.hotel.name}}</div>
                                <p class="linebyline clr52 fs13">
                                    {{'No of days on Makkah' | translate}}
                                    <span class="Premium_blue fw600">{{noOfDaysInMakkah}}</span>
                                    <span class="crossline"></span>
                                    <span>{{'No of Guest' | translate}}</span>
                                    <span class="Premium_blue fw600">{{noOfTravellers}}</span>
                                    <span class="crossline"></span>
                                    <span>{{'Rooms' | translate}}</span>
                                    <span class="Premium_blue fw600">{{tripMakkahHotel?.rooms?.length}}</span>
                                    <span class="crossline" *ngIf="tripMakkahHotel.trip_hotel.hotel.distance"></span>
                                    <span *ngIf="tripMakkahHotel.trip_hotel.hotel.distance">{{'HARAM' |
                                        translate}}</span>
                                    <span class="Premium_blue fw600" *ngIf="tripMakkahHotel.trip_hotel.hotel.distance">{{tripMakkahHotel?.trip_hotel?.hotel?.distance}}</span>
                                </p>
                            </div>
                            <div class="float_right mirr_float_left fs16 fw500 pt-2">
                                {{tripData?.currency}} {{tripMakkahHotel?.total_price | number:'1.2-2'}}
                            </div>
                        </div>
                        <div class="col-md-1 pl-0 pr-2 pt-1 m-auto text-center downarrow icns icon_size_20 arrowanimation" (click)="toggleDetails($event)">
                        </div>
                        <div class="row col-md-12 p-0 ml-0 mr-0 expansion">
                            <div class="mt-2 brdrtop p20 row col-md-12 p-0 ml-0 mr-0">
                                <div class="col-md-6 p-0">
                                    <div class="flexaround mrgndetails">
                                        <div>
                                            <div class="d-flex">
                                                <i class="calendaricon icon_h18_w15 icns"></i>
                                                <p class="pl-2 pr-2 fs13 fw500">{{'Check-in' | translate}}
                                                </p>
                                                <i class="icon_h18_w11 icns downarrow"></i>
                                            </div>
                                            <p class="fw600 fs21">{{tripMakkahHotel?.trip_hotel?.check_in_time | date:'mediumDate'}}
                                            </p>
                                            <p class="clr52 fs12">{{tripMakkahHotel?.trip_hotel?.check_in_time | date:'EEEE'}}
                                            </p>
                                        </div>
                                        <div class="text-center mt-2">
                                            <i class="nighticon icon_size_20 icns"></i>
                                            <p class="textgrey font14">{{noOfDaysInMakkah}} {{'Night' | translate}}
                                                <span *ngIf="noOfDaysInMakkah > 1">s</span></p>
                                        </div>
                                        <div class="text_left mirr_text_right">
                                            <div class="d-flex">
                                                <i class="calendaricon icon_h18_w15 icns"></i>
                                                <p class="pl-2 pr-2 fs13 fw500">{{'Check-out' | translate}}
                                                </p>
                                                <i class="icon_h18_w11 icns downarrow"></i>
                                            </div>
                                            <p class="fw600 fs21">{{tripMakkahHotel?.trip_hotel?.check_out_time | date:'mediumDate'}}
                                            </p>
                                            <p class="clr52 fs12">{{tripMakkahHotel?.trip_hotel?.check_out_time | date:'EEEE'}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pl-5 mt-4">
                                    <div class="row">
                                        <div class="col-md-12 p-0 pb-2">
                                            <p class="fs13"><i class="fa fa-map-marker textlight pr-1 font16imp" aria-hidden="true"></i> {{'ADDRESS' | translate}}</p>
                                            <p class="pl-3 mpr15 fs12 clr52">{{tripMakkahHotel?.trip_hotel?.hotel?.address}}
                                            </p>
                                        </div>
                                        <div class="d-flex">
                                            <p class="clr52 fs14 pr10 mpl10 mpr0"><i class="fa fa-envelope textlight pr-1 font16imp" aria-hidden="true"></i> {{tripMakkahHotel?.trip_hotel?.hotel?.email}}
                                            </p>
                                            <p class="clr52 fs14"><i class="fa fa-phone textlight pr-1 font16imp" aria-hidden="true"></i>{{tripMakkahHotel?.trip_hotel?.hotel?.phone_number}}
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12 p-0 row m-0">
                                    <div class="col-md-12 px-0 mx-0 row" *ngFor="let rooms of tripMakkahHotel.trip_hotel.room_variations">
                                        <div class="col-md-12 row m-0 p-2 brdrtop" *ngFor="let item of rooms.room">
                                            <div class="col-md-4 col-6 clr52 fs14 fw600">{{item?.name}}</div>
                                            <div class="col-md-4 col-6 fs14 clr52 fw500">
                                                <!-- <span *ngFor="let pax of item.pax_info">
                                                    <span *ngIf="pax.type == 'ADT'">
                                                        <strong class="fw600">{{pax.quantity}}</strong> {{'Adult' | translate}}
                                                    </span>
                                                </span>
                                                <span *ngIf="item.pax_info.length > 1">
                                                    , <strong>{{item.pax_info.length - 1}}</strong> {{'Child' | translate}}
                                                </span> -->
                                            </div>
                                            <div class="col-md-2 col-6 fs12">
                                                <span class="green_text" *ngIf="item.cancellation_policy.is_refundable">{{'Refundable' | translate}}</span>
                                                <span class="red_text" *ngIf="!item.cancellation_policy.is_refundable">{{'non_refundable' | translate}}</span>
                                            </div>
                                            <!-- <div class="col-md-2 col-6 text-right fs14">
                                                <span *ngFor="let price of item.fare_summary">
                                                    <span *ngIf="price.name == 'Total Amount'">{{price?.currency}} {{price?.amount}}</span>
                                                </span>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="fs16 Premium_blue fw600 pt25" *ngIf="tripMadeenaHotel != null">{{'Madinah Hotel Details' | translate}}
                </h2>
                <div class="border_box_shadow bg_white" [class.errorBox]="tripMadeenaHotel?.status== 'failed' || tripMadeenaHotel?.status == 'cancelled'" *ngIf="tripMadeenaHotel != null">
                    <div class="row m-0 p10">
                        <div class="col-md-12 p-0 brdrbottom mb10" *ngIf="tripMadeenaHotel?.status=='success'">
                            <div class="d-inline-flex">
                                <div class="d-inline-flex bookdpdng brdrR mirr_brdr_right_none mirr_brdr_left">
                                    <i class="selectedgreentickicon icns icon_size_20"></i>
                                    <div class="fs14 fw600 success_text ml10 mml0 mmr10">{{'BOOKED' | translate}}</div>
                                </div>
                                <div class="fs13 fw600 Premium_blue bookdpdng">
                                    {{'Reference No' | translate}}. (BRN) - {{tripMadeenaHotel?.brn}}
                                </div>
                            </div>
                            <div class="float_right fs14 list_clr textunderline cursor-pointer mirr_float_left" data-toggle="modal" data-target="#madeenaPolicy">{{'Cancellation Policy' | translate}}</div>
                            <div class="modal fade" id="madeenaPolicy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog maxwdth700" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">{{'Cancellation Policy' | translate}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3" *ngFor="let item of tripMadeenaHotel.trip_hotel.room_variations">
                                                <div *ngFor="let data of item.room">
                                                    <div class="d-inline-flex">
                                                        <div>{{data?.name}}</div>
                                                        <div class="mx-2">-</div>
                                                        <div class="green_text" *ngIf="data?.cancellation_policy?.is_refundable">{{'Refundable' | translate}}</div>
                                                        <div class="red_text" *ngIf="!data?.cancellation_policy?.is_refundable">{{'non_refundable' | translate}}</div>
                                                    </div>
                                                    <div class="mt-2 borderbox" *ngIf="data?.cancellation_policy?.is_refundable">
                                                        <div class="d-flex justify-content-between p10 brdr_btm_d3 fs15" *ngFor="let rule of data.cancellation_policy.rules">
                                                            <div class="d-inline-flex">
                                                                <div class="my-auto pr10 mpr0 mpl10"><i class="calendaricon icns icon_size_20"></i></div>
                                                                <div>
                                                                    <div><strong>{{'From' | translate}} : </strong> {{rule?.from_date_time | date:'medium'}}</div>
                                                                    <div><strong>{{'Till' | translate}} : </strong> {{rule?.to_date_time | date:'medium'}}</div>
                                                                    <div class="fs13 clr52 fw400" *ngIf="!rule?.is_noshow">( NOTE: Not applicable in No-Show )</div>
                                                                </div>
                                                            </div>
                                                            <div class="fw600">
                                                                <div class="text-capitalize">{{'Cancellation Charge' | translate}}</div>
                                                                <div>{{item?.currency}} {{rule?.charge?.chargeAmount}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-2 clr52 fs13" *ngIf="data?.cancellation_policy?.description">
                                                        <div class="fw600">{{'Description' | translate}}:</div>
                                                        <p>{{data?.cancellation_policy?.description}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0 brdrbottom mb10" *ngIf="tripMadeenaHotel?.status == 'failed'">
                            <div class="d-inline-flex">
                                <div class="d-inline-flex bookdpdng">
                                    <i class="material-icons icns icon_size_20 clrrd">cancel</i>
                                    <div class="fs14 fw600 success_text ml10 mmr10 clrrd mt2p">{{'FAILED' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0 brdrbottom mb10" *ngIf="tripMadeenaHotel?.status == 'cancelled'">
                            <div class="d-inline-flex">
                                <div class="d-inline-flex bookdpdng">
                                    <i class="material-icons icns icon_size_20 clrrd">cancel</i>
                                    <div class="fs14 fw600 success_text ml10 mmr10 clrrd mt2p">{{'CANCELLED' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-12 pl-0 pr-0 my-auto">
                            <i class="hotelblueicon icns icon_size_30 imgposition mirr_float_right"></i>
                            <div class="Premium_blue fs14 fw600 ">
                                <div>{{'MEDINAH' | translate}}</div>
                                <div>{{tripMadeenaHotel?.trip_hotel?.check_in_time | date:'mediumDate'}}</div>
                            </div>
                        </div>
                        <div class="col-md-9 col-12 brdrR brdrL my-auto">
                            <div class="float_left mirr_float_right">
                                <div class="fw600 fs16">{{tripMadeenaHotel?.trip_hotel.hotel.name}}</div>
                                <p class="linebyline clr52 fs13">
                                    {{'No of days on Medinah' | translate}}
                                    <span class="Premium_blue fw600">{{noOfDaysInMedinah}}</span>
                                    <span class="crossline"></span>
                                    <span>{{'No of Guest' | translate}}</span>
                                    <span class="Premium_blue fw600">{{noOfTravellers}}</span>
                                    <span class="crossline"></span>
                                    <span>{{'Rooms' | translate}}</span>
                                    <span class="Premium_blue fw600">{{tripMadeenaHotel?.rooms.length}}</span>
                                    <span *ngIf="tripMadeenaHotel.trip_hotel.hotel.distance" class="crossline"></span>
                                    <span *ngIf="tripMadeenaHotel.trip_hotel.hotel.distance">{{'NABAWI' |
                                        translate}}</span>
                                    <span class="Premium_blue fw600" *ngIf="tripMadeenaHotel.trip_hotel.hotel.distance">{{tripMadeenaHotel?.trip_hotel?.hotel?.distance}}</span>
                                </p>
                            </div>
                            <div class="float_right mirr_float_left fs16 fw500 pt-2">
                                {{tripData?.currency}} {{tripMadeenaHotel?.total_price | number:'1.2-2'}}
                            </div>
                        </div>
                        <div class="col-md-1 pl-0 pr-2 pt-1 m-auto text-center downarrow icns icon_size_20 arrowanimation" (click)="toggleDetails($event)">
                        </div>
                        <div class="row col-md-12 p-0 ml-0 mr-0 expansion">
                            <div class="mt-2 brdrtop p20 row col-md-12 p-0 ml-0 mr-0">
                                <div class="col-md-6 p-0">
                                    <div class="flexaround mrgndetails">
                                        <div>
                                            <div class="d-flex">
                                                <i class="calendaricon icon_h18_w15 icns"></i>
                                                <p class="pl-2 pr-2 fs13 fw500">{{'Check-in' | translate}}</p>
                                                <i class="icon_h18_w11 icns downarrow"></i>
                                            </div>
                                            <p class="fw600 fs21">{{tripMadeenaHotel?.trip_hotel?.check_in_time | date:'mediumDate'}}
                                            </p>
                                            <p class="clr52 fs12">{{tripMadeenaHotel?.trip_hotel?.check_in_time | date:'EEEE'}}
                                            </p>
                                        </div>
                                        <div class="text-center mt-2">
                                            <i class="nighticon icon_size_20 icns"></i>
                                            <p class="textgrey font14">{{noOfDaysInMedinah}} {{'Night' | translate}}
                                                <span *ngIf="noOfDaysInMedinah > 1">s</span></p>
                                        </div>
                                        <div class="text_left mirr_text_right">
                                            <div class="d-flex">
                                                <i class="calendaricon icon_h18_w15 icns"></i>
                                                <p class="pl-2 pr-2 fs13 fw500">{{'Check-out' | translate}}</p>
                                                <i class="icon_h18_w11 icns downarrow"></i>
                                            </div>
                                            <p class="fw600 fs21">{{tripMadeenaHotel?.trip_hotel?.check_out_time | date:'mediumDate'}}
                                            </p>
                                            <p class="clr52 fs12">{{tripMadeenaHotel?.trip_hotel?.check_out_time | date:'EEEE'}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pl-5 mt-4">
                                    <div class="row">
                                        <div class="col-md-12 p-0 pb-2">
                                            <p class="fs13"><i class="fa fa-map-marker textlight pr-1 font16imp" aria-hidden="true"></i> {{'ADDRESS' | translate}}</p>
                                            <p class="pl-3 mpr15 fs12 clr52">{{tripMadeenaHotel?.trip_hotel?.hotel?.address}}
                                            </p>
                                        </div>
                                        <div class="d-flex">
                                            <p class="clr52 fs14 pr10 mpl10 mpr0"><i class="fa fa-envelope textlight pr-1 font16imp" aria-hidden="true"></i> {{tripMadeenaHotel?.trip_hotel?.hotel?.email}}
                                            </p>
                                            <p class="clr52 fs14"><i class="fa fa-phone textlight pr-1 font16imp" aria-hidden="true"></i>{{tripMadeenaHotel?.trip_hotel?.hotel?.phone_number}}
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12 p-0 row m-0">
                                    <div class="col-md-12 px-0 mx-0 row" *ngFor="let rooms of tripMadeenaHotel.trip_hotel.room_variations">
                                        <div class="col-md-12 row m-0 p-2 brdrtop" *ngFor="let item of rooms.room">
                                            <div class="col-md-4 col-6 clr52 fs14 fw600">{{item?.name}}</div>
                                            <div class="col-md-4 col-6 fs14 clr52 fw500">
                                                <!-- <span *ngFor="let pax of item.pax_info">
                                                    <span *ngIf="pax.type == 'ADT'">
                                                        <strong class="fw600">{{pax.quantity}}</strong> {{'Adult' | translate}}
                                                    </span>
                                                </span>
                                                <span *ngIf="item.pax_info.length > 1">
                                                    , <strong>{{item.pax_info.length - 1}}</strong> {{'Child' | translate}}
                                                </span> -->
                                            </div>
                                            <div class="col-md-2 col-6 fs12">
                                                <span class="green_text" *ngIf="item.cancellation_policy.is_refundable">{{'Refundable' | translate}}</span>
                                                <span class="red_text" *ngIf="!item.cancellation_policy.is_refundable">{{'non_refundable' | translate}}</span>
                                            </div>
                                            <!-- <div class="col-md-2 col-6 text-right fs14">
                                                <span *ngFor="let price of item.fare_summary">
                                                    <span *ngIf="price.name == 'Total Amount'">{{price?.currency}} {{price?.amount}}</span>
                                                </span>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- transport -->
                <h2 class="fs16 Premium_blue fw600 pt25" *ngIf="tripTransport?.total_price != null">{{'Transport Details' | translate}}</h2>
                <div class="border_box_shadow bg_white" [class.errorBox]="tripTransport?.status== 'failed' || tripTransport?.status=='cancelled'" *ngIf="tripTransport?.total_price != null">
                    <div class="row m-0 p10">
                        <div class="col-md-12 p-0 brdrbottom mb10" *ngIf="tripTransport?.status=='success'">
                            <div class="d-inline-flex">
                                <div class="d-inline-flex bookdpdng brdrR mirr_brdr_right_none mirr_brdr_left">
                                    <i class="selectedgreentickicon icns icon_size_20"></i>
                                    <div class="fs14 fw600 success_text ml10 mml0 mmr10">{{'BOOKED' | translate}}</div>
                                </div>
                                <div class="fs13 fw600 Premium_blue bookdpdng">
                                    {{'Reference No' | translate}}. (BRN) - {{tripTransport?.brn}}
                                </div>
                            </div>
                            <div class="float_right fs14 list_clr textunderline cursor-pointer mirr_float_left" data-toggle="modal" data-target="#transportPolicy">{{'Cancellation Policy' | translate}}</div>
                            <div class="modal fade" id="transportPolicy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog maxwdth700" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">{{'Cancellation Policy' | translate}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <div>
                                                    <div class="">
                                                        <div class="green_text" *ngIf="selectedTransport?.cancellation_policy?.is_refundable">{{'Refundable' | translate}}</div>
                                                        <div class="red_text" *ngIf="!selectedTransport?.cancellation_policy?.is_refundable">{{'non_refundable' | translate}}</div>
                                                    </div>
                                                    <div class="mt-2 borderbox" *ngIf="selectedTransport?.cancellation_policy?.is_refundable">
                                                        <div class="d-flex justify-content-between p10 brdr_btm_d3 fs15" *ngFor="let rule of selectedTransport.cancellation_policy.rules">
                                                            <div class="d-inline-flex">
                                                                <div class="my-auto pr10 mpr0 mpl10"><i class="calendaricon icns icon_size_20"></i></div>
                                                                <div>
                                                                    <div><strong>{{'From' | translate}} : </strong> {{rule?.from_date_time | date:'medium'}}</div>
                                                                    <div><strong>{{'Till' | translate}} : </strong> {{rule?.to_date_time | date:'medium'}}</div>
                                                                    <div class="fs13 clr52 fw400" *ngIf="!rule?.is_noshow">( NOTE: Not applicable in No-Show )</div>
                                                                </div>
                                                            </div>
                                                            <div class="fw600">
                                                                <div class="text-capitalize">{{'Cancellation Charge' | translate}}</div>
                                                                <div>{{tripData?.currency}} {{rule?.charge?.chargeAmount}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-2 clr52 fs13" *ngIf="selectedTransport?.cancellation_policy?.description">
                                                        <div class="fw600">{{'Description' | translate}}:</div>
                                                        <p>{{selectedTransport?.cancellation_policy?.description}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0 brdrbottom mb10" *ngIf="tripTransport?.status== 'failed'">
                            <div class="d-inline-flex">
                                <div class="d-inline-flex bookdpdng">
                                    <i class="material-icons icns icon_size_20 clrrd">cancel</i>
                                    <div class="fs14 fw600 success_text ml10 mmr10 clrrd mt2p">{{'FAILED' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0 brdrbottom mb10" *ngIf="tripTransport?.status=='cancelled'">
                            <div class="d-inline-flex">
                                <div class="d-inline-flex bookdpdng">
                                    <i class="material-icons icns icon_size_20 clrrd">cancel</i>
                                    <div class="fs14 fw600 success_text ml10 mmr10 clrrd mt2p">{{'CANCELLED' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-12 pl-0 pr-0 my-auto">
                            <i class="transportblueicon icns icon_size_30 imgposition mirr_float_right"></i>
                            <div class="Premium_blue fs14 fw600">
                                <p>{{'VEHICLE' | translate}}</p>
                                <p>{{tripTransport.trip_transportation?.vehicle_types[0].name}}</p>
                            </div>
                        </div>
                        <div class="col-md-9 col-12 brdrR brdrL my-auto">
                            <div class="float_left mirr_float_right">
                                <p class="fw600 fs16">{{tripTransport.trip_transportation?.company?.name}}</p>
                                <p class="linebyline clr52 fs13">
                                    <strong class="fw600">{{'Route' | translate}} :</strong>
                                    <span>{{tripTransport?.trip_transportation?.route?.name}}</span>
                                </p>
                            </div>
                            <div class="float_right mirr_float_left fs16 fw500 pt-2">
                                {{tripData?.currency}} {{tripTransport?.total_price | number:'1.2-2'}}
                            </div>
                        </div>
                        <div class="col-md-1 pl-0 pr-2 pt-1 m-auto text-center downarrow icns icon_size_20 arrowanimation" (click)="toggleDetails($event)">
                        </div>
                        <div class="col-md-12 p-0 row ml-0 mr-0  borderpading  expansion">
                            <div class="col-md-12 transportbodypdng mt-2 row brdrtop m-0">
                                <div class="col-md-4 p-0 mb-2">
                                    <p class="clr52 fs14"><i class="fa fa-circle pr10 mpr0 mpl10 font9imp" aria-hidden="true"></i>{{tripTransport?.trip_transportation?.vehicle_types[0]?.max_capacity}} {{'Seater(s)' | translate}}</p>
                                </div>
                                <div class="col-md-4 p-0 mb-2">
                                    <p class="clr52 fs14"><i class="fa fa-circle pr10 mpr0 mpl10 font9imp" aria-hidden="true"></i>{{'Pax Per Vehicle' | translate}} : {{tripTransport?.trip_transportation?.trip_vehicles[0]?.pax_per_vehicle}}
                                    </p>
                                </div>
                                <div class="col-md-4 p-0 mb-2">
                                    <p class="clr52 fs14"><i class="fa fa-circle pr10 mpr0 mpl10 font9imp" aria-hidden="true"></i>{{'Model' | translate}}: {{tripTransport?.trip_transportation?.selected_transportation?.vehicle_types[0]?.categories[0]?.model}}
                                    </p>
                                </div>
                                <div class="col-md-4 p-0 mb-2">
                                    <p class="clr52 fs14"><i class="fa fa-circle pr10 mpr0 mpl10 font9imp" aria-hidden="true"></i>{{'Booked Vehicle' | translate}} ({{tripTransport?.trip_transportation?.trip_vehicles[0]?.booked_quantity}})
                                    </p>
                                </div>
                                <div class="col-md-4 p-0 mb-2">
                                    <p class="clr52 fs14"><i class="fa fa-circle pr10 mpr0 mpl10 font9imp" aria-hidden="true"></i>{{'Bag Capacity' | translate}} : {{tripTransport?.trip_transportation?.vehicle_types[0]?.bags_capacity}}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12 transportbodypdng row m-0 fs14" *ngIf="tripTransport?.trip_transportation?.additional_services.length > 0">
                                <div class="fw600 textunderline px-0 col-md-12">{{'Additional Services' | translate}}</div>
                                <div class="col-md-6 pt-1" *ngFor="let service of tripTransport.trip_transportation.additional_services">
                                    <i class="fa fa-check green_text pr10 mpr0 mpl10" aria-hidden="true"></i> {{service?.name}}
                                </div>
                            </div>
                            <div class="col-md-12 transportbodypdng row ml-0 mr-0 mt-2 p20 brdrtop">
                                <div class="col-md-5 p-0">
                                    <p class="fs13"><i class="fa fa-map-marker textlight pr-1 font16imp" aria-hidden="true"></i> {{'ADDRESS' | translate}}</p>
                                    <p class="pl-3 fs12 clr52">
                                        {{tripTransport?.trip_transportation?.company.address}}</p>
                                </div>
                                <div class="col-md-5">
                                    <p class="clr52 fs14"><i class="fa fa-envelope textlight pr5 mpr0 mpl5 font16imp" aria-hidden="true"></i> {{tripTransport?.trip_transportation?.company?.email}}
                                    </p>
                                </div>
                                <div class="col-md-2">
                                    <p class="clr52 fs14"><i class="fa fa-phone textlight pr5 mpr0 mpl5 font16imp" aria-hidden="true"></i> {{tripTransport?.trip_transportation?.company?.phone_number}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- passenger -->
                <h2 class="fs16 Premium_blue fw600 pt25" *ngIf="tripTravellers != null">{{'Passenger Details' | translate}}
                </h2>
                <div class="border_box_shadow bg_white" *ngIf="tripTravellers != null">
                    <div class="row m-0 p10">
                        <div class="col-md-11 d-inline-flex brdrR mirr_brdr_right_none mirr_brdr_left">
                            <div class=" my-auto text-capitalize">
                                <div class="d-flex">
                                    <div><strong>{{tripTravellers[0]?.contactinfo?.first_name}}</strong></div>
                                    <div class="px-1"><strong>{{tripTravellers[0]?.contactinfo?.last_name}}</strong></div>
                                </div>
                            </div>
                            <div class="  brdrL mirr_brdr_left_none mirr_brdr_right ml-2 mpr10 mmr10  my-auto">
                                <p class="ml-2"><strong>{{tripTravellers[0]?.gender | translate}}</strong></p>
                            </div>
                        </div>
                        <div class="col-md-1 pl-0 pr-2 pt-1 m-auto text-center downarrow icns icon_size_20 arrowanimation" (click)="toggleDetails($event)">
                        </div>
                        <div class="col-md-12 p-0 row ml-0 mr-0 borderpading expansion">
                            <div class="col-md-12 transportbodypdng mt-2 brdrtop row m-0">
                                <div class="col-md-4 p-0 mb-2">
                                    <p class="clr52 fs14"><i class="fa fa-circle pr10 mpr0 mpl10 font9imp" aria-hidden="true"></i>{{'Date of Birth' | translate}} : {{tripTravellers[0]?.dob | date:'mediumDate'}}
                                    </p>
                                </div>
                                <div class="col-md-4 p-0 mb-2">
                                    <p class="clr52 fs14"><i class="fa fa-circle pr10 mpr0 mpl10 font9imp" aria-hidden="true"></i>{{'Country of Residence' | translate}} : {{tripTravellers[0]?.country_of_residence}}
                                    </p>
                                </div>
                                <div class="col-md-4 p-0 mb-2">
                                    <p class="clr52 fs14"><i class="fa fa-circle pr10 mpr0 mpl10 font9imp" aria-hidden="true"></i>{{'Nationality' | translate}}: {{tripTravellers[0]?.nationality}}
                                    </p>
                                </div>
                                <div class="col-md-4 p-0 mb-2">
                                    <p class="clr52 fs14"><i class="fa fa-circle pr10 mpr0 mpl10 font9imp" aria-hidden="true"></i>{{'Passport Number' | translate}} : {{tripTravellers[0]?.passport_no}}
                                    </p>
                                </div>
                                <div class="col-md-4 p-0 mb-2">
                                    <p class="clr52 fs14"><i class="fa fa-circle pr10 mpr0 mpl10 font9imp" aria-hidden="true"></i>{{'Passport Expiry Date' | translate}}: {{tripTravellers[0]?.passport_expiry_date | date:'mediumDate'}}
                                    </p>
                                </div>
                                <div class="col-md-12 transportbodypdng row ml-0 mr-0 mt-2 p20 brdrtop">
                                    <div class="col-md-4 p-0">
                                        <p class="fs13"><i class="fa fa-map-marker textlight pr5 mpr0 mpl5 font16imp" aria-hidden="true"></i> {{'ADDRESS' | translate}}</p>
                                        <p class="pl-3 fs12 clr52">{{tripTravellers[0]?.contactinfo?.address}}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="clr52 fs14"><i class="fa fa-envelope textlight pr5 mpr0 mpl5 font16imp" aria-hidden="true"></i>{{tripTravellers[0]?.contactinfo?.email}}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="clr52 fs14"><i class="fa fa-phone textlight pr5 mpr0 mpl5 font16imp" aria-hidden="true"></i> {{tripTravellers[0]?.contactinfo?.phn_country_code}} {{tripTravellers[0]?.contactinfo?.phone_number}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pr-0 mt-3 ml1">
                <div class="boxvouch cursor-pointer" (click)="invoiceClick('Download')">
                    <div class="d-flex justify-content-between">
                        <div class="d-inline-flex">
                            <i class="printicon icns icon_size_30"></i>
                            <div class="fs15 fw600 text-uppercase pl10 mpl0 mpr10 my-auto">{{'Print invoice' | translate}}</div>
                        </div>
                        <div>
                            <i class="rightarrow icns icon_size_20 my-auto h-100 mirr_rotate_180" *ngIf="!invoicetoggle"></i>
                            <div class="spinner-border" role="status" *ngIf="invoicetoggle">
                                <span class="sr-only">{{'Loading' | translate}}...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boxvouch cursor-pointer mt-3" (click)="voucherClick('Download')">
                    <div class="d-flex justify-content-between">
                        <div class="d-inline-flex">
                            <i class="downloadicon icns icon_size_30"></i>
                            <div class="fs15 fw600 text-uppercase pl10 mpl0 mpr10 my-auto">{{'Download Voucher' | translate}}</div>
                        </div>
                        <div>
                            <i class="rightarrow icns icon_size_20 my-auto h-100 mirr_rotate_180" *ngIf="!vouchertoggle"></i>
                            <div class="spinner-border" role="status" *ngIf="vouchertoggle">
                                <span class="sr-only">{{'Loading' | translate}}...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="boxvouch cursor-pointer mt-3" (click)="sentItenaryButtonClicked()">
                    <div class="d-flex justify-content-between">
                        <div class="d-inline-flex">
                            <i class="sentemail icns icon_size_25"></i>
                            <div class="fs15 fw600 text-uppercase pl-2 my-auto">Email</div>
                        </div>
                        <div>
                            <i class="rightarrow icns icon_size_20 my-auto h-100"></i>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="boxvouch cursor-pointer mt-3">
                    <div class="d-flex justify-content-between">
                        <div class="d-inline-flex">
                            <i class="whatsappicon icns icon_size_30"></i>
                            <div class="fs15 fw600 text-uppercase pl-2 my-auto">Whatsapp</div>
                        </div>
                        <div>
                            <i class="rightarrow icns icon_size_20 my-auto h-100"></i>
                        </div>
                    </div>
                </div> -->
                <div *ngIf="bknStatus != 'cancelled'">
                    <div class="boxvouch cursor-pointer mt-3" (click)="checkCancellation()">
                        <div class="d-flex justify-content-between">
                            <div class="d-inline-flex">
                                <i class="cancelicon icns icon_size_25"></i>
                                <div class="fs15 fw600 text-uppercase pl10 mpl0 mpr10 my-auto">{{'Check cancellation' | translate}}
                                </div>
                            </div>
                            <div>
                                <i class="rightarrow icns icon_size_20 my-auto h-100 mirr_rotate_180" *ngIf="!cancellationtoggle"></i>
                                <div class="spinner-border" role="status" *ngIf="cancellationtoggle">
                                    <span class="sr-only">{{'Loading' | translate}}...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <h2 class="fs18 fw600">{{'Fare Summary' | translate}}</h2>
                    <div class="boxvouch">
                        <div class="d-flex justify-content-between" *ngIf="tripMakkahHotel?.total_price">
                            <div>{{'Makkah Hotel' | translate}}</div>
                            <div>{{tripData?.currency}} {{tripMakkahHotel?.total_price | number :'1.2-2'}}</div>
                        </div>
                        <div class="d-flex justify-content-between" *ngIf="tripMadeenaHotel?.total_price">
                            <div>{{'Madeena Hotel' | translate}}</div>
                            <div>{{tripData?.currency}} {{ tripMadeenaHotel?.total_price | number :'1.2-2'}}</div>
                        </div>
                        <div class="d-flex justify-content-between" *ngIf="tripTransport?.total_price">
                            <div>{{'Transport' | translate}}</div>
                            <div>{{tripData?.currency}} {{tripTransport?.total_price | number :'1.2-2'}}</div>
                        </div>
                        <!-- <div (click)="toggleText($event)" class="pt-1">
                            <div class="d-inline-flex">
                                <i class="downarrow icns icon_size_15 mr-2 mt-1 arrowanimation"></i>
                                <div>For all service</div>
                            </div>
                            <div class="float-right">{{tripData?.currency}} {{tripMakkahHotel?.total_price+tripMadeenaHotel?.total_price+tripTransport?.total_price | number :'1.2-2'}}</div>
                        </div>
                        <div class="expansion det-text pl-3 pt-1 ">
                            <div class="d-flex justify-content-between" *ngIf="tripMakkahHotel?.total_price">
                                <div>Makkah Hotel</div>
                                <div>{{tripData?.currency}} {{tripMakkahHotel?.total_price | number :'1.2-2'}}</div>
                            </div>
                            <div class="d-flex justify-content-between" *ngIf="tripMadeenaHotel?.total_price">
                                <div>Madeena Hotel</div>
                                <div>{{tripData?.currency}} {{ tripMadeenaHotel?.total_price | number :'1.2-2'}}</div>
                            </div>
                            <div class="d-flex justify-content-between" *ngIf="tripTransport?.total_price">
                                <div>Transport</div>
                                <div>{{tripData?.currency}} {{tripTransport?.total_price | number :'1.2-2'}}</div>
                            </div>
                        </div> -->
                        <!-- <div (click)="toggleText($event)" class="pt-1">
                            <div class="d-inline-flex">
                                <i class="downarrow icns icon_size_15 mr-2 mt-1 arrowanimation"></i>
                                <div>Addones</div>
                            </div>
                            <div class="float-right">SAR 1,326.03</div>
                        </div>
                        <div class="expansion det-text pl-3 pt-2 ">
                            <div class="d-flex justify-content-between">
                                <div>Makkah Hotel</div>
                                <div>SAR 200</div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>Madeena Hotel</div>
                                <div>SAR 200</div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>Transport</div>
                                <div>SAR 200</div>
                            </div>
                        </div> -->
                        <!-- <div (click)="toggleText($event)" class="pt-1">
                            <div class="d-inline-flex">
                                <i class="downarrow icns icon_size_15 mr-2 mt-1 arrowanimation"></i>
                                <div>Tax & Charges</div>
                            </div>
                            <div class="float-right">SAR 1,326.03</div>
                        </div>
                        <div class="expansion det-text pl-3 pt-2 ">
                            <div class="d-flex justify-content-between">
                                <div>Makkah Hotel</div>
                                <div>SAR 200</div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>Madeena Hotel</div>
                                <div>SAR 200</div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>Transport</div>
                                <div>SAR 200</div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="cancelationPopup">
    <app-cancelation-popup [checkCancel]="checkCancelData"></app-cancelation-popup>
</div>