<div class="topofcomponent">
    <div class="textform animationdiv bg_main_img">
        <div class="text-center pt50">
            <h1 class="mb-0 fs28">{{'UMRAH PACKAGES' | translate}}</h1>
            <h3 class="fs18">{{'Get a great price on your Umrah Packages.' | translate}}</h3>
        </div>
        <div class="algn justifycenter container pb30 mt20">
            <div class="boxborder col-md-8 px-0 row mx-0">
                <div class="col-md-10 row px-0 mx-0 p10">
                    <div class="col-md-6 brdr_right_d3 position-relative mirr_brdr_right_none mirr_brdr_left">
                        <div class="cursor-pointer d-flex justify-content-between" (click)="showSelectionPopup()" #serviceDropDown>
                            <div class="mirr_text_right">
                                <div class="fs13 clr52">{{'SERVICE' | translate}}</div>
                                <div class="fs14 ">{{ service | translate}}</div>
                            </div>
                            <i class="icns downarrow icon_h28_w15 my-auto"></i>
                        </div>
                        <div class="travellerpopupp popupmoving mirr_right_0" *ngIf="showSelectionPopUp" #selectionPopUp>
                            <div class="travellersouterr selectPop">
                                <div class="d-flex flex-column w-100">
                                    <div class="pad15">
                                        <mat-radio-group class="exampleradiogroup" [(ngModel)]="service">
                                            <mat-radio-button value="All" (change)="onServiceItemChange('All',true)">
                                                {{'All' | translate }}</mat-radio-button>
                                            <mat-radio-button value="Makkah Hotel" (change)="onServiceItemChange('Makkah Hotel',true)">{{ 'Makkah Hotel' | translate }}
                                            </mat-radio-button>
                                            <mat-radio-button value="Medina Hotel" (change)="onServiceItemChange('Medina Hotel',true)">{{ 'Medina Hotel' | translate }}
                                            </mat-radio-button>
                                            <mat-radio-button value="Transport" (change)="onServiceItemChange('Transport',true)">{{ 'Transport' | translate}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 position-relative">
                        <div class="d-flex justify-content-between cursor-pointer" (click)="showTravelersPopUp()" #menuIconClass>
                            <div class="mirr_text_right">
                                <div class="fs13 clr52 text-uppercase">{{'Travellers'| translate}}</div>
                                <div class="fs14 ">{{countAdult + countChild}} {{'Travellers' | translate}}</div>
                            </div>
                            <i class="icns downarrow icon_h28_w15 my-auto"></i>
                        </div>
                        <div class="travellerpopup popupmoving mirr_right_0" *ngIf="displayTabtravel" #menuPopupClass>
                            <div class="travellersouter travellerOuter">
                                <div class="d-flex flex-column w-100 mirr_text_right">
                                    <div class="d-flex justify-content-between travellerslide">
                                        <div class="texttraveller pt-1">{{'Adults' | translate}}</div>
                                        <div class="p-1 ml-2" class="texttravellerd margnR50">
                                            {{countAdult}}
                                        </div>
                                        <div>
                                            <div class="btn-group">
                                                <a class="firstbttn bttnfrst" (click)="minusAdult();">-</a>
                                                <a class="secondbttn bttnscnd" (click)="addAdult();">+</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between travellerslide">
                                        <div class="texttraveller">{{'Children' | translate }}
                                            <p>0 - 12 {{'Years' | translate }}</p>
                                        </div>
                                        <div class="p-1 ml-1" class="texttravellerd">
                                            {{countChild}}</div>
                                        <div>
                                            <div class="btn-group">
                                                <a class="firstbttn bttnfrst" (click)="minusChild();">-</a>
                                                <a class="secondbttn bttnscnd" (click)="addChild();">+</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="d-flex justify-content-between travellerslide">
                                        <div class="texttraveller textright">{{'Infants'| translate }}
                                            <p>0 - 23 {{'months' | translate }}</p>
                                        </div>
                                        <div class="p-1" class="texttravellerd">{{countInfant}}</div>
                                        <div>
                                            <div class="btn-group">
                                                <a class="firstbttn bttnfrst" (click)="minusInfant();">-</a>
                                                <a class="secondbttn bttnscnd" (click)="addInfant();">+</a>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 bg_bttn_green d-flex align-content-center flex-wrap cursor-pointer" (click)="goButtonClicked()" [class.disableGoBttn]="disableGoBttn">
                    <div class="w-100 text-center align-self-center">{{'GO' | translate }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3 maxheightAnimation" id="dateEnterDiv">
        <div class="bg-white filterbox container p30 mirr_text_right" *ngIf="activateMakkaSearch || activateMadeenaSearch || activateTransportSearch">
            <div *ngIf="activateMakkaSearch" class="position-relative mb30">
                <div class="row m-0">
                    <div class="col-md-2 mt32">
                        <div class="d-inline-flex">
                            <i class="makkahicon icon_size_35 icns"></i>
                            <h5 class="fw500 fs22 my6mx10">{{'Makkah' | translate}}</h5>
                        </div>
                    </div>
                    <div class="col-md-5 row mx-0 px-0 ">
                        <div class="col-md-6">
                            <p class="mb-0 fs14 pl-1">{{'Check-in' | translate}}<span class="mdtryStrr">*</span></p>
                            <div [owlDateTimeTrigger]="dt3" class="position-relative">
                                <input placeholder="{{'Check-in date' | translate}}" class="owldatepicker fs14 bordrservice removeoutline" [(ngModel)]="makkaCheckInDate" [min]="makkahmin" [owlDateTime]="dt3" (ngModelChange)="dataChangedFromMakkaDates($event)">
                                <i class="icns calendaricon icon_size_20 cursor-pointer calendarposition mirr_clndr_icon"></i>
                            </div>
                            <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-0 fs14 pl-1">{{'Check-out' | translate}}<span class="mdtryStrr">*</span></p>
                            <div [owlDateTimeTrigger]="dt4" class="position-relative">
                                <input #makkaOutDatePicker placeholder="{{'Check-out date' | translate}}" class="owldatepicker removeoutline fs14 bordrservice" [owlDateTime]="dt4" [(ngModel)]="makkaCheckOutDate" [min]="madeenmin" (ngModelChange)="dataChangedFromMakkaOutDates($event)">
                                <i class="icns calendaricon icon_size_20 cursor-pointer calendarposition mirr_clndr_icon"></i>
                            </div>
                            <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
                        </div>
                    </div>
                    <div class="col-md-4 row mx-0 px-0">
                        <div class="col-md-6">
                            <p class="mb-0 fs14 pl-1 mt8">{{'Special Code' | translate}}</p>
                            <div>
                                <input name="promotion" class="subStyle" [(ngModel)]="special_code_makkah" class="owldatepicker fs14 bordrservice removeoutline">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-0 fs14 pl-1 mt8">{{'SubPcc' | translate}}</p>
                            <div>
                                <input name="promotion" class="subStyle" [(ngModel)]="subPcc_makkah" class="owldatepicker fs14 bordrservice removeoutline">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 text-center mt18">
                        <i class="icns calendaricon icon_size_20"></i>
                        <div class="fs12">{{noOfDaysInMakkah}} {{'Night(s)' | translate}}</div>
                    </div>
                </div>
            </div>
            <div *ngIf="activateMadeenaSearch" class="position-relative mb30">
                <div class="row m-0">
                    <div class="col-md-2 mt32">
                        <div class="d-inline-flex">
                            <i class="madeenaicon icon_size_35 icns"></i>
                            <h5 class="fw500 fs22 my6mx10">{{'Medinah' | translate}}</h5>
                        </div>
                    </div>
                    <div class="col-md-5 row mx-0 px-0 ">
                        <div class="col-md-6">
                            <p class="mb-0 fs14 pl-1">{{'Check-in' | translate}}<span class="mdtryStrr">*</span></p>
                            <div [owlDateTimeTrigger]="dt1" class="position-relative">
                                <input #madeenaInPicker placeholder="{{'Check-in date' | translate}}" class="owldatepicker fs14 bordrservice removeoutline" [(ngModel)]="madeenaCheckInDate" [min]="madeenaMin" [owlDateTime]="dt1" (ngModelChange)="dataChangedFromMadeenaDates('in')">
                                <i class="icns calendaricon icon_size_20 cursor-pointer calendarposition mirr_clndr_icon"></i>
                            </div>
                            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-0 fs14 pl-1">{{'Check-out' | translate}}<span class="mdtryStrr">*</span></p>
                            <div [owlDateTimeTrigger]="dt2" class="position-relative">
                                <input #madeenaOutPicker placeholder="{{'Check-out date' | translate}}" class="owldatepicker removeoutline fs14 bordrservice" [owlDateTime]="dt2" [(ngModel)]="madeenaCheckOutDate" [min]="madeenamax" (ngModelChange)="dataChangedFromMadeenaDates('out')">
                                <i class="icns calendaricon icon_size_20 cursor-pointer calendarposition mirr_clndr_icon"></i>
                            </div>
                            <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                        </div>
                    </div>
                    <div class="col-md-4 row mx-0 px-0">
                        <div class="col-md-6">
                            <p class="mb-0 fs14 pl-1 mt8">{{'Special Code' | translate}}</p>
                            <div>
                                <input name="promotion" class="subStyle" [(ngModel)]="special_code_medinah" class="owldatepicker fs14 bordrservice removeoutline">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-0 fs14 pl-1 mt8">{{'SubPcc' | translate}}</p>
                            <div>
                                <input name="promotion" class="subStyle" [(ngModel)]="subPcc_medinah" class="owldatepicker fs14 bordrservice removeoutline">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 text-center mt18">
                        <i class="icns calendaricon icon_size_20"></i>
                        <div class="fs12">{{noOfDaysInMadeenah}} {{'Night(s)' | translate}}</div>
                    </div>
                </div>
            </div>
            <div *ngIf="activateTransportSearch" class="position-relative mb30">
                <div class="row m-0">
                    <div class="col-md-2 mt32">
                        <div class="d-inline-flex">
                            <i class="transportationicon icon_size_35 icns"></i>
                            <h5 class="fw500 fs22 my6mx10">{{'Transport' | translate}}</h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <p class="mb-0 fs14 pl-1">{{'Start Date' | translate}}<span class="mdtryStrr">*</span></p>
                        <div [owlDateTimeTrigger]="dt5" class="position-relative">
                            <input placeholder="{{'Check-in date' | translate}}" class="owldatepicker fs14 bordrservice removeoutline" [(ngModel)]="transportStartDate" [owlDateTime]="dt5" [min]="transportmin" (ngModelChange)="dataChangedFromTransportDate('in')">
                            <i class="icns calendaricon icon_size_20 cursor-pointer calendarposition mirr_clndr_icon"></i>
                        </div>
                        <owl-date-time [pickerType]="'calendar'" #dt5></owl-date-time>
                    </div>
                    <div class="col-md-2">
                        <p class="mb-0 fs14 pl-1">{{'Vehicle Type' | translate}}<span class="mdtryStrr">*</span></p>
                        <select name="rote" id="umrahVehicle" class="removeoutline bordrservice w-100 pl10 fs14" (change)="onVehicleSelect($event.target.value)">
                            <option value="" disabled selected>{{'Select' | translate}}</option>
                            <option *ngFor="let item of vehicleTypeList" [value]="item.id">{{item.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <p class="mb-0 fs14 pl-1">{{'Vehicle Count' | translate}}<span class="mdtryStrr">*</span></p>
                        <select name="rote" id="vehicleCount" [(ngModel)]="vehicleCount" class="removeoutline bordrservice w-100 pl10 fs14" (change)="vehicleCountSelect($event.target.value)">
                            <option value="" disabled selected>{{'Select' | translate}}</option>
                            <option *ngFor="let k of countArray" [value]="k">{{k}}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <p class="mb-0 fs14 pl-1">{{'Route' | translate}}<span class="mdtryStrr">*</span></p>
                        <select name="rote" id="umrahRoute" class="removeoutline bordrservice w-100 pl10 fs14" (change)="onRouteSelect($event.target.value)">
                            <option value="" disabled selected>{{'Select' | translate}}</option>
                            <option *ngFor="let item of routeList" [value]="item.code">{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end textform">
                <div class="p-2 mrBtm" *ngIf="viewsearchbutton">
                    <button type="submit" data-hover="SEARCH NOW" class="searchbutton " name="search-accommodation" (click)="searchButtonClicked()" [disabled]="!enableSearchButton">
                        {{'Search' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="borderbox container tablewidth mt-2 animationdiv">
        <div class="d-flex justify-content-between pt-3 px-2">
            <h1 class="fs16 blue_text fw500 text-uppercase">{{'Recent Booking' | translate}}</h1>
            <div class="blackborderbttn" (click)="navigateHostory()">{{'View All Bookings' | translate}}</div>
        </div>
        <app-recent-booking [recentHistory]="historyList"></app-recent-booking>
    </div>
</div>
<div *ngIf="showRoomAllocationPopup">
    <app-room-allocation-popup [dataFromPopUp]="dataForPopUp"></app-room-allocation-popup>
</div>
<ngx-spinner id="hotelSpinner" bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <div>
        <img class="h303" src="assets/images/giphy.webp" alt="">
    </div>
</ngx-spinner>