<div class="topofcomponent">
    <div class="bg_blue animationdiv">
        <div class="text-white text-center container p-2 ">
            <h1 class="mb-0 fs34">{{'UMRAH PACKAGES' | translate}}</h1>
            <h3 class="fs18">{{'Get a great price on your Umrah Packages.' | translate}}</h3>
        </div>
    </div>
    <div class="textform bg_light_gray animationdiv">
        <div class="algn justifycenter container">
            <div class="p-2 d-flex">
                <div class="subtext m-auto">Services</div>
                <div class="position-relative">
                    <div class="position-relative d-flex justify-content-between w200 bordrservice m-3 p-2 cursor-pointer" (click)="showSelectionPopup()" #serviceDropDown>
                        <p *ngIf="!service" class="fs14 my-auto">{{'Services' | translate}}</p>
                        <p *ngIf="service" class="fs14 my-auto">{{ service | translate}}</p>
                        <i class="icns downarrow icon_h28_w15"></i>
                    </div>
                    <div class="travellerpopupp popupmoving" *ngIf="showSelectionPopUp" #selectionPopUp>
                        <div class="travellersouterr selectPop">
                            <div class="d-flex flex-column w-100">
                                <div class="pad15">
                                    <mat-radio-group class="exampleradiogroup" [(ngModel)]="service">
                                        <mat-radio-button value="All" (change)="onServiceItemChange('All')">
                                            {{'All' | translate}}</mat-radio-button>
                                        <mat-radio-button value="Makkah Hotel"
                                            (change)="onServiceItemChange('Makkah Hotel')">{{ 'Makkah Hotel' |
                                            translate}}</mat-radio-button>
                                        <mat-radio-button value="Medina Hotel"
                                            (change)="onServiceItemChange('Medina Hotel')">{{ 'Medina Hotel' |
                                            translate}}</mat-radio-button>
                                        <mat-radio-button value="Transport"
                                            (change)="onServiceItemChange('Transport')">{{ 'Transport' |
                                            translate}}</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2 d-flex">
                <div class="subtext m-auto">{{'Travellers' | translate}}</div>
                <div class="position-relative">
                    <div class="position-relative d-flex justify-content-between w200 bordrservice m-3 p-2 cursor-pointer" (click)="showTravelersPopUp()" #menuIconClass>
                        <p class="fs14 my-auto">{{countAdult + countChild + countInfant}} {{'Travellers' | translate}}</p>
                        <i class="icns downarrow icon_h28_w15"></i>
                    </div>
                    <div class="travellerpopup popupmoving" *ngIf="displayTabtravel" #menuPopupClass>
                        <div class="travellersouter travellerOuter" >
                            <div class="d-flex flex-column" class="w-100">
                                <div class="d-flex justify-content-between travellerslide">
                                    <div class="texttraveller pt-1">{{'Adults' | translate}}</div>
                                    <div class="p-1 ml-2" class="texttravellerd margnR50">
                                        {{countAdult}}
                                    </div>
                                    <div>
                                        <div class="btn-group">
                                            <a class="firstbttn bttnfrst" (click)="minusAdult();">-</a>
                                            <a class="secondbttn bttnscnd" (click)="addAdult();">+</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between travellerslide">
                                    <div class="texttraveller">{{'Children' | translate}}<p>2 - 12 {{'Years' | translate}}</p>
                                    </div>
                                    <div class="p-1 ml-1" class="texttravellerd">
                                        {{countChild}}</div>
                                    <div>
                                        <div class="btn-group">
                                            <a class="firstbttn bttnfrst" (click)="minusChild();">-</a>
                                            <a class="secondbttn bttnscnd" (click)="addChild();">+</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between travellerslide">
                                    <div class="texttraveller textright">{{'Infants' | translate}}<p>0 - 23 {{'months' | translate}}</p>
                                    </div>
                                    <div class="p-1" class="texttravellerd">{{countInfant}}</div>
                                    <div>
                                        <div class="btn-group">
                                            <a class="firstbttn bttnfrst" (click)="minusInfant();">-</a>
                                            <a class="secondbttn bttnscnd" (click)="addInfant();">+</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-auto">
                <button class="search_bttn" (click)="goButtonClicked()" [disabled]="goButtonEnable">{{'GO' |
                    translate}}</button>
            </div>
        </div>
    </div>
    <div class="mt-3 maxheightAnimation" id="dateEnterDiv">
        <div class="bg-white filterbox container p30" *ngIf="activateMakkaSearch || activateMadeenaSearch || activateTransportSearch">
            <div *ngIf="activateMakkaSearch" class="position-relative mb30">
                <div class="row m-0">
                    <div class="col-md-2 mt24">
                        <div class="d-inline-flex">
                            <i class="makkahicon icon_size_35 icns"></i>
                            <h5 class="fw600 fs22 my6mx10">{{'Makkah' | translate}}</h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <p class="mb-0 fs14 pl-1">Check-in</p>
                        <div [owlDateTimeTrigger]="dt3" class="position-relative">
                            <input placeholder="Check-in date" class="owldatepicker fs14 bordrservice removeoutline"
                            [(ngModel)]="makkaCheckInDate" [min]="makkahmin" [owlDateTime]="dt3"
                            (ngModelChange)="dataChangedFromMakkaDates($event)">
                            <i class="icns calendaricon icon_size_20 cursor-pointer calendarposition"></i>
                        </div>
                        <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                    </div>
                    <div class="col-md-3">
                        <p class="mb-0 fs14 pl-1">Check-out</p>
                        <div [owlDateTimeTrigger]="dt4" class="position-relative">
                            <input #makkaOutDatePicker 
                            placeholder="Check-out date" class="owldatepicker removeoutline fs14 bordrservice"
                            [owlDateTime]="dt4" [(ngModel)]="makkaCheckOutDate" [min]="madeenmin"
                            (ngModelChange)="dataChangedFromMakkaOutDates($event)">
                            <i class="icns calendaricon icon_size_20 cursor-pointer calendarposition"></i>
                        </div>
                        <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
                    </div>
                    <div class="col-md-2">
                        <p class="mb-0 fs14 pl-1">{{'Special Code' | translate}}</p>
                        <div>
                            <input name="promotion" class="subStyle" [(ngModel)]="special_code_makkah" class="owldatepicker fs14 bordrservice removeoutline">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <p class="mb-0 fs14 pl-1">{{'SubPcc' | translate}}</p>
                        <div>
                            <input name="promotion" class="subStyle" [(ngModel)]="subPcc_makkah" class="owldatepicker fs14 bordrservice removeoutline">
                        </div>
                    </div>
                </div>
                <div class="daysposition animationdiv" *ngIf="noOfDaysInMakkah">
                    <h6>{{noOfDaysInMakkah}} Day(s)</h6>
                </div>
            </div>
            <div *ngIf="activateMadeenaSearch" class="position-relative mb30">
                <div class="row m-0">
                    <div class="col-md-2 mt24">
                        <div class="d-inline-flex">
                            <i class="madeenaicon icon_size_35 icns"></i>
                            <h5 class="fw600 fs22 my6mx10">{{'Medinah' | translate}}</h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <p class="mb-0 fs14 pl-1">Check-in</p>
                        <div [owlDateTimeTrigger]="dt1" class="position-relative">
                            <input #madeenaInPicker placeholder="Check-in date" class="owldatepicker fs14 bordrservice removeoutline"
                            [(ngModel)]="madeenaCheckInDate" [min]="madeenaMin" [owlDateTime]="dt1"
                            (ngModelChange)="dataChangedFromMadeenaDates('in')">
                            <i class="icns calendaricon icon_size_20 cursor-pointer calendarposition"></i>
                        </div>
                        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                    </div>
                    <div class="col-md-3">
                        <p class="mb-0 fs14 pl-1">Check-out</p>
                        <div [owlDateTimeTrigger]="dt2" class="position-relative">
                            <input #madeenaOutPicker 
                            placeholder="Check-out date" class="owldatepicker removeoutline fs14 bordrservice"
                            [owlDateTime]="dt2" [(ngModel)]="madeenaCheckOutDate" [min]="madeenamax"
                            (ngModelChange)="dataChangedFromMadeenaDates('out')">
                            <i class="icns calendaricon icon_size_20 cursor-pointer calendarposition"></i>
                        </div>
                        <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                    </div>
                    <div class="col-md-2">
                        <p class="mb-0 fs14 pl-1">{{'Special Code' | translate}}</p>
                        <div>
                            <input name="promotion" class="subStyle" [(ngModel)]="special_code_medinah" class="owldatepicker fs14 bordrservice removeoutline">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <p class="mb-0 fs14 pl-1">{{'SubPcc' | translate}}</p>
                        <div>
                            <input name="promotion" class="subStyle" [(ngModel)]="subPcc_medinah" class="owldatepicker fs14 bordrservice removeoutline">
                        </div>
                    </div>
                </div>
                <div class="daysposition animationdiv" *ngIf="noOfDaysInMadeenah">
                    <h6>{{noOfDaysInMadeenah}} Day(s)</h6>
                </div>
            </div>
            <div *ngIf="activateTransportSearch" class="position-relative mb30">
                <div class="row m-0">
                    <div class="col-md-2 mt24">
                        <div class="d-inline-flex">
                            <i class="transportationicon icon_size_35 icns"></i>
                            <h5 class="fw600 fs22 my6mx10">{{'Transport' | translate}}</h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <p class="mb-0 fs14 pl-1">Start Date</p>
                        <div [owlDateTimeTrigger]="dt5" class="position-relative">
                            <input placeholder="Check-in date" class="owldatepicker fs14 bordrservice removeoutline"
                            [(ngModel)]="transportStartDate" [owlDateTime]="dt5" [min]="transportmin"
                            (ngModelChange)="dataChangedFromTransportDate('in')">
                            <i class="icns calendaricon icon_size_20 cursor-pointer calendarposition"></i>
                        </div>
                        <owl-date-time [pickerType]="'calendar'" #dt5></owl-date-time>
                    </div>
                    <div class="col-md-3">
                        <p class="mb-0 fs14 pl-1">Vehicle Type</p>
                        <select name="rote" id="umrahRoute" class="removeoutline bordrservice w-100 pl10 fs14" >
                            <option value="" disabled selected>Select</option>
                            <option *ngFor="let item of vehicleTypeList" [value]="item.code">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <p class="mb-0 fs14 pl-1">Route</p>
                        <select name="rote" id="umrahRoute" class="removeoutline bordrservice w-100 pl10 fs14" (change)="onRouteSelect($event.target.value)">
                            <option value="" disabled selected>Select</option>
                            <option *ngFor="let item of routeList" [value]="item.code">{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end textform">
                <div class="p-2 mrBtm" *ngIf="viewsearchbutton">
                    <button type="submit" data-hover="SEARCH NOW" class="searchbutton " name="search-accommodation"
                        (click)="searchButtonClicked()" [disabled]="!enableSearchButton">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="borderbox container tablewidth mt-2 animationdiv">
        <app-recent-booking [recentHistory]="historyList"></app-recent-booking>
    </div>
</div>
<div  *ngIf="showRoomAllocationPopup">
    <app-room-allocation-popup [dataFromPopUp]="dataForPopUp"></app-room-allocation-popup>
</div>
