<div class="w-100">
    <div *ngFor="let item of transportList;let i = index">
        <div class="transportcard" *ngFor="let vehicle of item.vehicle_types; let index = index">
            <div class="border_box_shadow bg-white">
                <div class="row m-0">
                    <div class="col-md-3 p-0">
                        <div class="transportimage" *ngIf="!vehicle.image">
                            <img src="/assets/images/transpoertsImgage.png">
                        </div>
                        <div class="transportimage" *ngIf="vehicle.image">
                            <img src="{{vehicle.image}}">
                        </div>
                    </div>
                    <div class="col-md-6 pdngdetailbox">
                        <div class="fs18 fw600 text-capitalize">{{item?.company_name}}</div>
                        <div class="fs14 fw600 text-capitalize mt10">{{vehicle?.vehicle_type_name[0] | translate}}</div>
                        <div class="row ml-0 mr-0 fs14 clr52 fw400">
                            <div class="col-md-6 p-0 dgride">
                                <div class="d-inline-flex mt10">
                                    <i class="staricon icon_h18_w15 icns"></i>
                                    <div class="Premium_blue fs13 fw600 ml10 mml0 mmr10">{{vehicle?.categories[0]?.category_name}}
                                    </div>
                                </div>
                                <div class="d-inline-flex mt10">
                                    <i class="seatsicon icon_h18_w15 icns"></i>
                                    <div class="ml10 mml0 mmr10">{{vehicle?.categories[0]?.capacity}} {{'Seater(s)' | translate}}
                                    </div>
                                </div>
                                <div class="d-inline-flex mt10">
                                    <i class="icontransport icon_h18_w15 icns"></i>
                                    <div class="ml10 mml0 mmr10">{{'Booked Vehicle' | translate}} ({{noOfVehicle}})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 p-0">
                                <div class="mt10">{{'Pax Count' | translate}}: {{paxCount}}</div>
                                <div class="mt10">{{'Available Vehicle' | translate}}: {{vehicle?.categories[0]?.available_quantity}}
                                </div>
                                <div class="mt10">{{'Model' | translate}}: {{vehicle?.categories[0]?.model}}</div>
                            </div>
                        </div>
                        <div class="mt-2 fs14" *ngIf="vehicle.categories[0].additional_services.length > 0">
                            <div class="fw600 textunderline">{{'Additional Services' | translate}}</div>
                            <div *ngFor="let item of vehicle.categories[0].additional_services" class="mt-1 clr52">
                                <mat-checkbox (change)="getCheckboxValues($event,item,i,index)">{{item?.description}} - <span *ngFor="let price of item.fare_summary"><strong *ngIf="price?.is_total">{{price?.currency}} {{price?.amount}}</strong></span>
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 bookdiv mpr0 mpl30">
                        <div class="text-center">
                            <div class="customTooltip fs21 fw600">
                                {{vehicle?.categories[0]?.fare_summary[2]?.currency}} {{(vehicle?.categories[0]?.fare_summary[2]?.display_price + vehicle?.transport_amount) | number:'1.2-2'}}
                                <span class="customtooltiptext transportFare">
                                    <div class="container mb-2 fs12">
                                        <div class="pt-2 fare_summary_heading">{{'Fare Summary' | translate}}</div>
                                        <div *ngFor="let price of vehicle.categories[0].fare_summary">
                                            <div class="d-flex justify-content-between fw400 pt-1" *ngIf="!price.is_total">
                                                <div>{{price?.name}} :</div><div>{{price.currency}} {{price?.amount | number:'.2-2'}}</div>
                                            </div>
                                        </div>
                                        <div *ngFor="let price of vehicle.categories[0].fare_summary">
                                            <div class="d-flex justify-content-between fw400 pt-1" *ngIf="price.is_total && price.ota_fee != 0">
                                                <div>{{'OTA Fee' | translate}} :</div><div>{{price.currency}} {{price?.ota_fee | number:'.2-2'}}</div>
                                            </div>
                                        </div>
                                        <div *ngFor="let price of vehicle.categories[0].fare_summary">
                                            <div class="d-flex justify-content-between fw500 pt-2" *ngIf="price.is_total">
                                                <div>{{'Total Price' | translate}} :</div><div>{{price.currency}} {{price?.amount | number:'.2-2'}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </span>
                            </div>
                            <div class="fs13 fw400 clr52">({{'Per Vehicle' | translate}})</div>
                            <div>
                                <button class="searchbutton mr-0" [disabled]="vehicle.categories[0].out_of_stock" (click)="bookTransport(item.company_code,item.vehicle_types[index])">{{'Select' |
                                    translate}}</button>
                                <p class="red_text fs13 fw500" *ngIf="vehicle.categories[0].out_of_stock">{{'Out Of Stock' | translate}}
                                </p>
                            </div>
                            <div class="mt-3">
                                <div class="textunderline list_clr cursor-pointer" data-toggle="modal" data-target="#policypopup">{{'Cancellation policy' | translate}}</div>
                            </div>

                        </div>

                        <div class="modal fade" id="policypopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{'Policies' | translate}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                                    </div>
                                    <div class="modal-body">
                                        <div *ngIf="item?.cancellation_policy">
                                            <h6 class="textunderline">{{'Cancellation Policy' | translate}}</h6>
                                            <div class="green_text" *ngIf="item?.cancellation_policy?.is_refundable">{{'Refundable' | translate}}</div>
                                            <div class="red_text" *ngIf="!item?.cancellation_policy?.is_refundable">{{'non_refundable' | translate}}</div>
                                            <div class="mt-2 borderbox" *ngIf="item?.cancellation_policy?.is_refundable">
                                                <div class="d-flex justify-content-between p10 brdr_btm_d3 fs15" *ngFor="let rule of item.cancellation_policy.rules">
                                                    <div class="d-inline-flex">
                                                        <div class="my-auto pr10 mpr0 mpl10"><i class="calendaricon icns icon_size_20"></i></div>
                                                        <div>
                                                            <div><strong>{{'From' | translate}} : </strong> {{rule?.from_date_time | date:'medium'}}</div>
                                                            <div><strong>{{'Till' | translate}} : </strong> {{rule?.to_date_time | date:'medium'}}</div>
                                                            <div class="fs13 clr52 fw400" *ngIf="!rule?.is_noshow">( NOTE: Not applicable in No-Show )</div>
                                                        </div>
                                                    </div>
                                                    <div class="fw600">
                                                        <div class="text-capitalize">{{'Cancellation Charge' | translate}}</div>
                                                        <div>{{vehicle?.categories[0]?.fare_summary[2]?.currency}} {{rule?.charge?.chargeAmount}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-2 clr52 fs13" *ngIf="item?.cancellation_policy?.description">
                                                <div class="fw600">{{'Description' | translate}}:</div>
                                                <p>{{item?.cancellation_policy?.description}}</p>
                                            </div>
                                        </div>
                                        <div class="" *ngIf="item?.policies.length > 0">
                                            <div class="mt-3" *ngFor="let policy of item?.policies">
                                                <h6 class="textunderline">{{policy?.name}}</h6>
                                                <div>{{policy?.description}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>