 .transportcard {
     margin: 10px;
 }
 
 .transportimage {
     height: 200px;
     width: 100%;
     padding: 10px;
     img {
         height: 100%;
         width: 100%;
         background-image: url(/assets/images/transpoertsImgage.png);
         background-size: 100% 100%;
     }
 }
 
 .pdngdetailbox {
     padding: 15px 10px;
 }
 
 .dgride {
     display: grid;
 }
 
 .bookdiv {
     padding: 30px 30px 10px 0;
     display: flex;
     justify-content: flex-end;
 }