<div class="outer">
    <div class="container">
        <mat-card class="image-outer">
            <div class="row">
                <div class="col-md-7 image-main-box">
                    <img class="big-img" src="/assets/images/2.jpg" alt="">
                    <div class="small-image-box">
                        <img class="small-image" src="/assets/images/2.jpg">
                        <img class="small-image" src="/assets/images/2.jpg">
                        <img class="small-image" src="/assets/images/2.jpg">
                    </div>
                </div>
                <div class="col-md-5 text-outer">
                    <div class="col-md-12 check-box">
                        <div class="row brdr">
                            <div class="col-md-5 pd-0">
                                <p class="check-head">CHECK-IN</p>
                                <p class="date">MAY 02, 2021</p>
                                <p class="day">Thursday</p>
                            </div>
                            <div class="col-md-2 pd-0">
                                <p class="night">
                                    <mat-icon>nights_stay</mat-icon>
                                </p>
                                <p class="night">5 Nights</p>
                            </div>
                            <div class="col-md-5 pd-0">
                                <p class="check-head tar">CHECK-OUT</p>
                                <p class="date tar">MAY 02, 2021</p>
                                <p class="day tar">Thursday</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 address">
                        <p class="check-head mb-10">
                            <mat-icon>room</mat-icon>ADDRESS
                        </p>
                        <p class="day mb-10">Grand Hayatt Makkah</p>
                        <p class="day">
                            <mat-icon>local_phone</mat-icon>9567000000 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <mat-icon>email</mat-icon>hayat@hotel.ae
                        </p>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>

