.outer {
    padding-top: 100px;
    .image-outer {
        .image-main-box {
            display: flex;
            .big-img {
                width: 539px;
                height: 275px;
            }
            .small-image-box {
                display: flex;
                flex-direction: column;
                width: 30%;
                padding-left: 10px;
                .small-image {
                    width: 100%;
                }
            }
        }
    }
    .text-outer {
        .pd-0 {
            padding: 0;
        }
        .check-head {
            font-family: 'Lato', sans-serif;
            font-size: 13px;
            font-weight: normal;
            color: #000;
            margin: 0;
        }
        .date {
            font-family: 'Lato', sans-serif;
            font-size: 21px;
            font-weight: bold;
            color: #000;
            margin: 0;
        }
        .day {
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            font-weight: normal;
            color: #525252;
            margin: 0;
            mat-icon {
                color: #525252;
                height: 14px;
                width: 14px;
                font-size: 14px;
                margin-top: 15px;
                margin-right: 5px;
            }
        }
        .brdr {
            border-bottom: 1px solid #c4c4c4;
            padding-bottom: 20px;
        }
        .night {
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            text-align: center;
            font-weight: bold;
            color: #525252;
            margin: 0;
        }
        .tar {
            text-align: right;
        }
        .check-box {
            padding-top: 0px;
        }
        .address {
            padding-top: 35px;
            mat-icon {
                color: #525252;
                height: 16px;
                width: 16px;
                font-size: 16px;
                margin-top: 15px;
                margin-right: 5px;
            }
        }
        .mb-10 {
            margin-bottom: 10px;
        }
    }
}