<div class="border_box_shadow bgclrwhite mb-3" [class.bgclrred]="showTransportNotAvailable" *ngIf="tripTransport">
    <div class="row m-0 p10">
        <div class="col-md-12 p-0 brdrbottom mb10" *ngIf="showTransportNotAvailable">
            <div class="d-inline-flex">
                <div><i class="sadicon icns icon_size_25"></i></div>
                <div class="sadred fs14 fw600 oopstext mpr10">{{'Ooops !!! Some Error Occured, Please select another hotel.' | translate}}
                </div>
                <div class="textunderline list_clr cursor-pointer pl10 mpl0 mpr10" (click)="changeTransport()">{{'Modify' | translate}}
                </div>
            </div>
        </div>
        <div class="col-md-2 col-12 pl-0 pr-0 my-auto">
            <i class="transportblueicon icns icon_size_30 imgposition mirr_float_right"></i>
            <div class="Premium_blue fs14 fw600">
                <p>{{'VEHICLE' | translate}}</p>
                <p class="text-uppercase">{{tripTransport?.vehicle_types[0]?.name | translate}}</p>
            </div>
        </div>
        <div class="col-md-9 col-12 brdrR brdrL my-auto">
            <div class="float_left mirr_float_right">
                <p class="fw600 fs16">{{tripTransport?.company?.name}}</p>
                <div class="linebyline clr52 fs13">
                    <strong class="fw600">{{'Route' | translate}} :</strong>
                    <span>{{tripTransport?.route?.name}}</span>
                    <span class="textunderline list_clr cursor-pointer pl10 mpl0 mpr10" (click)="changeTransport()">{{'Modify' |
                        translate}}</span>
                    <span class="textunderline list_clr cursor-pointer pl10 mpl0 mpr10" data-toggle="modal" data-target="#transportPolicy">{{'Policy' | translate}}</span>
                    <div class="modal fade" id="transportPolicy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{'Policies' | translate}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="crossbttn">&times;</span>
                              </button>
                                </div>
                                <div class="modal-body">
                                    <div *ngIf="tripTransport?.selected_transportation?.cancellation_policy">
                                        <h6 class="textunderline">{{'Cancellation Policy' | translate}}</h6>
                                        <div class="green_text" *ngIf="tripTransport?.selected_transportation?.cancellation_policy?.is_refundable">{{'Refundable' | translate}}</div>
                                        <div class="red_text" *ngIf="!tripTransport?.selected_transportation?.cancellation_policy?.is_refundable">{{'non_refundable' | translate}}</div>
                                        <div class="mt-2 borderbox" *ngIf="tripTransport?.selected_transportation?.cancellation_policy?.is_refundable">
                                            <div class="d-flex justify-content-between p10 brdr_btm_d3 fs15" *ngFor="let rule of tripTransport.selected_transportation.cancellation_policy.rules">
                                                <div class="d-inline-flex">
                                                    <div class="my-auto pr10 mpr0 mpl10"><i class="calendaricon icns icon_size_20"></i></div>
                                                    <div>
                                                        <div><strong>{{'From' | translate}} : </strong> {{rule?.from_date_time | date:'medium'}}</div>
                                                        <div><strong>{{'Till' | translate}} : </strong> {{rule?.to_date_time | date:'medium'}}</div>
                                                        <div class="fs13 clr52 fw400" *ngIf="!rule?.is_noshow">( NOTE: Not applicable in No-Show )</div>
                                                    </div>
                                                </div>
                                                <div class="fw600">
                                                    <div class="text-capitalize">{{'Cancellation Charge' | translate}}</div>
                                                    <div>{{tripTransport?.trip_vehicles[0]?.currency}} {{rule?.charge?.chargeAmount}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-2 clr52 fs13" *ngIf="tripTransport?.selected_transportation?.cancellation_policy?.description">
                                            <div class="fw600">{{'Description' | translate}}:</div>
                                            <p>{{tripTransport?.selected_transportation?.cancellation_policy?.description}}</p>
                                        </div>
                                    </div>
                                    <div class="" *ngIf="tripTransport?.selected_transportation?.policies.length > 0">
                                        <div class="mt-3" *ngFor="let item of tripTransport?.selected_transportation?.policies">
                                            <h6 class="textunderline">{{item?.name}}</h6>
                                            <div>{{item?.description}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="float_right mirr_float_left fs16 fw500 pt-2 customTooltip">
                <span>
                    {{tripTransport?.trip_vehicles[0]?.currency}} {{tripTransport?.prices_summary?.total_price | number:'.2-2'}}
                </span>
                <span *ngIf="tripTransport.prices_summary.price_update" style="color:grey">(Old Price
                    {{tripTransport?.trip_vehicles[0]?.currency}} {{tripTransport?.prices_summary?.price_updates?.amount | number:'.2-2'}})
                </span>
               
                <span class="customtooltiptext transportPayment">
                    <div class="container mb-2 fs12">
                        <div class="pt-2 fare_summary_heading">{{'Fare Summary' | translate}}</div>
                        <div *ngFor="let price of tripTransport.selected_transportation.vehicle_types[0].categories[0].fare_summary">
                            <div class="d-flex justify-content-between fw400 pt-1" *ngIf="!price.is_total">
                                <div>{{price?.name}} :</div><div>{{price.currency}} {{price?.amount | number:'.2-2'}}</div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between fw400 pt-1" *ngIf="additionalService.length != 0">
                                <div>{{'Additional Service' | translate}} :</div><div>{{tripTransport.prices_summary.currency}} {{aditionalAmount | number:'.2-2'}}</div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between fw400 pt-1" *ngIf="tripTransport.prices_summary.gds_fee != 0">
                                <div>{{'GDS Fee' | translate}} :</div><div>{{tripTransport.prices_summary.currency}} {{tripTransport.prices_summary.gds_fee | number:'.2-2'}}</div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between fw400 pt-1" *ngIf="tripTransport.prices_summary.ota_fee != 0">
                                <div>{{'OTA Fee' | translate}} :</div><div>{{tripTransport.prices_summary.currency}} {{tripTransport.prices_summary.ota_fee | number:'.2-2'}}</div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between fw500 pt-2" *ngIf="tripTransport.prices_summary.total_price != 0">
                                <div>{{'Total Price' | translate}} :</div><div>{{tripTransport.prices_summary.currency}} {{tripTransport.prices_summary.total_price | number:'.2-2'}}</div>
                            </div>
                        </div>
                    </div>
                    
                </span>
            </div>
        </div>
        <div class="col-md-1 pl-0 pr-2 pt-1 m-auto text-center" (click)="transporttoggle = !transporttoggle">
            <i *ngIf="transporttoggle" class="downarrow icon_size_20 icns cursor-pointer"></i>
            <i *ngIf="!transporttoggle" class="uparrow icon_size_20 icns cursor-pointer"></i>
        </div>
        <div class="col-md-12 p-0 row ml-0 mr-0 mt-2 borderpading brdrtop" *ngIf="!transporttoggle">
            <div class="col-md-12 transportbodypdng row m-0">
                <div class="col-md-4 p-0 mb-2">
                    <p class="clr52 fs14">
                        <i class="fa fa-circle pr10 mpr0 mpl10 font9imp" aria-hidden="true"></i> {{tripTransport?.selected_transportation?.vehicle_types[0]?.categories[0]?.capacity}} {{'Seater(s)' | translate}}
                    </p>
                </div>
                <!-- <div class="col-md-4 p-0 mb-2">
            <p class="clr52 fs14">
                <i class="fa fa-circle pr10 mpr0 mpl10 font9imp" aria-hidden="true"></i>{{'Pax Per Vehicle' | translate}} : {{tripTransport?.trip_vehicles[0]?.pax_per_vehicle}}
            </p>
        </div> -->
                <div class="col-md-4 p-0 mb-2">
                    <p class="clr52 fs14">
                        <i class="fa fa-circle pr10 mpr0 mpl10 font9imp" aria-hidden="true"></i>{{'Model' | translate}}: {{tripTransport?.selected_transportation?.vehicle_types[0]?.categories[0]?.model}}
                    </p>
                </div>
                <div class="col-md-4 p-0 mb-2">
                    <p class="clr52 fs14">
                        <i class="fa fa-circle pr10 mpr0 mpl10 font9imp" aria-hidden="true"></i>{{'Booked Vehicle' | translate}} ({{tripTransport?.trip_vehicles[0]?.booked_quantity}})
                    </p>
                </div>
                <div class="col-md-4 p-0 mb-2">
                    <p class="clr52 fs14">
                        <i class="fa fa-circle pr10 mpr0 mpl10 font9imp" aria-hidden="true"></i>{{'Available Vehicle' | translate}}: {{tripTransport?.selected_transportation?.vehicle_types[0]?.categories[0]?.available_quantity}}
                    </p>
                </div>
                <div class="col-md-4 p-0 mb-2">
                    <p class="clr52 fs14">
                        <i class="fa fa-circle pr10 mpr0 mpl10 font9imp" aria-hidden="true"></i>{{'Bag Capacity'| translate}} : {{tripTransport?.vehicle_types[0]?.bags_capacity}}
                    </p>
                </div>
            </div>
            <div class="col-md-12 transportbodypdng row m-0 fs14" *ngIf="additionalService.length != 0">
                <div class="fw600 textunderline px-0 col-md-12">{{'Additional Services' | translate}}</div>
                <div class="col-md-6 pt-1" *ngFor="let service of additionalService">
                    <i class="fa fa-check green_text pr10 mpr0 mpl10" aria-hidden="true"></i> {{service?.description}}
                </div>
            </div>
            <div class="col-md-12 transportbodypdng row ml-0 mr-0 mt-2 p20 brdrtop">
                <div class="col-md-4 p-0">
                    <p class="fs13"><i class="fa fa-map-marker textlight pr5 mpr0 mpl5 font16imp" aria-hidden="true"></i> {{'ADDRESS' | translate}}
                    </p>
                    <p class="pl15 mpl0 mpr15 fs12 clr52">{{tripTransport?.company?.address}}</p>
                </div>
                <!-- <div class="col-md-4">
                    <p class="clr52 fs14"><i class="fa fa-envelope textlight pr5 mpr0 mpl5 font16imp" aria-hidden="true"></i> {{tripTransport?.company?.email}}
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="clr52 fs14"><i class="fa fa-phone textlight pr5 mpr0 mpl5 font16imp" aria-hidden="true"></i> {{tripTransport?.company?.phone_number}}
                    </p>
                </div> -->
            </div>
        </div>
    </div>
</div>