<div>
    <div class="change_button_availability" *ngIf="showTransportNotAvailable" (click)="changeTransport()">
    <button type="button">{{'Not available now. Please change' | translate}}</button>
    </div>
    <div class="row col-md-12 pl-0 pr-0 m-0 pt-2 pb-2 content-section textright">
        <div class="col-md-3" *ngIf="tripTransport.selected_transportation.vehicle_types[0].image">
            <img class="vehImgWidth" src="{{tripTransport.selected_transportation.vehicle_types[0].image}}" alt="">
        </div>
        <div class="col-md-3" *ngIf="!tripTransport.selected_transportation.vehicle_types[0].image">
            <img class="vehImgWidth" src="/assets/images/no_image.jpg" alt="">
        </div>
        <div class="col-md-6">
            <div class="row detail_review">
                <div class="col-md-4 pb-3">
                    <p><strong>{{'Category' | translate}} :
                        </strong>
                        {{tripTransport?.categories[0]?.name}} </p>
                </div>
                <div class="col-md-4 pb-3">
                    <p><strong>{{'Vehicle Type' | translate}} :
                        </strong>
                        {{tripTransport?.selected_transportation?.vehicle_types[0]?.name}}</p>

                </div>
                <div class="col-md-4 pb-3">
                    <p><strong>{{'Model' | translate}} : </strong>
                        {{tripTransport?.selected_transportation?.vehicle_types[0]?.categories[0]?.model}}
                    </p>
                </div>
                <div class="col-md-4 pb-3">
                    <p><strong>{{'No. of vehicle' | translate}} :
                        </strong>
                        {{tripTransport?.trip_vehicles[0]?.booked_quantity}}
                    </p>
                </div>
                <div class="col-md-4 pb-3">
                    <p><strong>{{'Phone Number' | translate}} :
                        </strong>
                        {{tripTransport?.company?.phone_number}}</p>
                </div>
                <div class="col-md-8 pb-3">
                    <p><strong>{{'Email' | translate}} : </strong>
                        {{tripTransport?.company?.email}}</p>
                </div>
                <div class="col-md-4 pb-3">
                    <p><strong>{{'Bag Capacity' | translate}} :
                        </strong>
                        {{tripTransport?.vehicle_types[0]?.bags_capacity}}
                    </p>
                </div>
                <div class="col-md-12 pb-3">
                    <p><strong>{{'Route' | translate}} : </strong>
                        {{tripTransport?.route?.name}}</p>
                </div>
                <div class="col-md-12 pb-3">
                    <p><strong>{{'Address' | translate}} : </strong>
                        {{tripTransport?.company?.address}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3"
            *ngIf="tripTransport.selected_transportation?.vehicle_types[0].categories[0].additional_services[0]">
            <p class="redColour" class="pl-3">{{'Additional
                Services' | translate}}</p>
            <ul class="listStyle">
                <li
                    *ngFor="let a of tripTransport.selected_transportation.vehicle_types[0].categories[0].additional_services">
                    {{a?.description}}</li>
            </ul>
        </div>
    </div>
</div>