.bg_blue {
    background: #0e295a;
}

.blue_text {
    color: #1b416c;
}

.list_clr {
    color: #027ce9;
}

.green_text {
    color: #00a11b;
}

.red_text {
    color: #db0c0c;
}

.clr52 {
    color: #525252;
}

.clr01 {
    color: #010101;
}

.grayText {
    color: #7f7f7f;
}

.bg_body {
    background: #eaeaea;
}

.bg_light_gray {
    background: #f6f6f6;
}

.clr7a {
    color: #7a7a7a;
}

.clr_blue_18 {
    color: #18457f;
}

.Premium_blue {
    color: #0a4170;
}

.success_text {
    color: #13b513;
}

.sadred {
    color: #e00000;
}

.darkyellow {
    color: #c06f06;
}

.clrlabel {
    color: #161515;
}

.blue_back_clr {
    color: #3e6292;
}

.bgf2 {
    background-color: #f2f2f2;
}

.clr86 {
    color: #868686;
}

.bg_green {
    background: #59a903;
}

.bg_red {
    background: #dc0303;
}

.bg_bttn_green {
    background-color: #b5cb13;
}

.bg_f1 {
    background: #f1f1f1;
}

.bg_f5 {
    background: #f5f5f5;
}