// icon css start here
.icns {
    display: inline-block;
    background-size: contain !important;
}

.makkahharam {
    background: url("/assets/images/haram.png") no-repeat center center;
}

.madeenanabawi {
    background: url("/assets/images/nabwa.png") no-repeat center center;
}

.rightarrow {
    background: url("/assets/images/main-menu-right-arrow.png") no-repeat center center;
}

.userpic {
    background: url("/assets/images/agent-img-thumb.png") no-repeat center center;
}

.upgreen {
    background: url("/assets/images/green-arrow.png") no-repeat center center;
}

.downred {
    background: url("/assets/images/red-arrow.png") no-repeat center center;
}

.transporticon {
    background: url("/assets/images/car.svg") no-repeat center center;
}

.uparrow {
    background: url("/assets/images/up_arow.png") no-repeat center center;
}

.downarrow {
    background: url("/assets/images/dwn_arrow.png") no-repeat center center;
}

.logouticon {
    background: url("/assets/images/menu-logout-icon.png") no-repeat center center;
}

.myprofile {
    background: url("/assets/images/menu-my-profile-icon.png") no-repeat center center;
}

.historyicon {
    background: url("/assets/images/history.png") no-repeat center center;
}

.createpackages {
    background: url("/assets/images/create-packages-icon.png") no-repeat center center;
}

.menubranches {
    background: url("/assets/images/branches-icon.png") no-repeat center center;
}

.staffmanagment {
    background: url("/assets/images/staff-management-icon.png") no-repeat center center;
}

.accountdetailsicon {
    background: url("/assets/images/menu-acc-details-icon.png") no-repeat center center;
}

.madeenaicon {
    background: url("/assets/images/madeena.png") no-repeat center center;
}

.makkahicon {
    background: url("/assets/images/makkah.png") no-repeat center center;
}

.locationicon {
    background: url("/assets/images/locationicon.png") no-repeat center center;
}

.walletIcon {
    background: url("/assets/images/ewallet.png") no-repeat center center;
}

.Phoneicon {
    background: url("/assets/images/phoneicon.png") no-repeat center center;
}

.mailicon {
    background: url("/assets/images/mailicon2.png") no-repeat center center;
}

.calendaricon {
    background: url("/assets/images/calendar-icon.png") no-repeat center center;
}

.nighticon {
    background: url("/assets/images/nights.png") no-repeat center center;
}

.galleryplusicon {
    background: url("/assets/images/gallary-plus.png") no-repeat center center;
}

.infoicon {
    background: url("/assets/images/brn-info-icon.png") no-repeat center center;
}

.copyicon {
    background: url("/assets/images/copy-icon.png") no-repeat center center;
}

.transportationicon {
    background: url("/assets/images/transport-icon.png") no-repeat center center;
}

.viewicon {
    background: url("/assets/images/view-icon.png") no-repeat center center;
}

.filtericon {
    background: url("/assets/images/filter.png") no-repeat center center;
}

.bedicon {
    background: url("/assets/images/bed_hotel.png") no-repeat center center;
}

.hotelbedicon {
    background: url("/assets/images/hotel-bed.png") no-repeat center center;
}

.selectedgreentickicon {
    background: url("/assets/images/selected-green-tick.png") no-repeat center center;
}

.greentickicon {
    background: url("/assets/images/green-tick-small.png") no-repeat center center;
}

.conformationTick {
    background: url("/assets/images/confirmation-tick.png") no-repeat center center;
}

.staricon {
    background: url("/assets/images/iconstar.png") no-repeat center center;
}

.seatsicon {
    background: url("/assets/images/iconseat.png") no-repeat center center;
}

.icontransport {
    background: url("/assets/images/iconbus.png") no-repeat center center;
}

.transportblueicon {
    background: url("/assets/images/bus.png") no-repeat center center;
}

.hotelblueicon {
    background: url("/assets/images/hotel.png") no-repeat center center;
}

.sadicon {
    background: url("/assets/images/sad-smiley-icon.png") no-repeat center center;
}

.blue_back_arrow {
    background: url("/assets/images/blue_back.png") no-repeat center center;
}

.flight_duration_icon {
    background: url("/assets/images/duration-flight-icon.png") no-repeat center center;
}

.printicon {
    background: url("/assets/images/print-voucher.png") no-repeat center center;
}

.downloadicon {
    background: url("/assets/images/download-voucher.png") no-repeat center center;
}

.sentemail {
    background: url("/assets/images/email-voucher.png") no-repeat center center;
}

.whatsappicon {
    background: url("/assets/images/whatsapp-voucher.png") no-repeat center center;
}

.cancelicon {
    background: url("/assets/images/check-cancellation.png") no-repeat center center;
}

.airplane_blue {
    background: url("/assets/images/airplane.png") no-repeat center center;
}

.visa_icon_blue {
    background: url("/assets/images/review-visa-icon.png") no-repeat center center;
}

.locationmarkicon {
    background: url("/assets/images/location52.png") no-repeat center center;
}

.moonicon {
    background: url("/assets/images/moon.png") no-repeat center center;
}

.view_list_icon {
    background: url("/assets/images/viewfile.png") no-repeat center center;
}

.dashboardicon {
    background: url("/assets/images/dashbrd.png") no-repeat center center;
}

.icon_size_15 {
    height: 15px;
    width: 15px;
}

.icon_size_20 {
    height: 20px;
    width: 20px;
}

.icon_size_w17h23 {
    height: 23px;
    width: 17px;
}

.icon_size_60 {
    height: 60px;
    width: 60px;
}

.icon_size_25 {
    height: 25px;
    width: 25px;
}

.icon_size_40 {
    height: 40px;
    width: 40px;
}

.icon_size_30 {
    height: 30px;
    width: 30px;
}

.icon_size_15 {
    height: 15px;
    width: 15px;
}

.icon_h16_w12 {
    height: 16px;
    width: 12px;
}

.icon_size_35 {
    height: 35px;
    width: 35px;
}

.icon_h28_w15 {
    height: 28px;
    width: 15px;
}

.icon_h18_w15 {
    height: 18px;
    width: 15px;
}

.icon_h18_w11 {
    height: 18px;
    width: 11px;
}

.icon_h32_w12 {
    height: 32px;
    width: 12px;
}

.icon_size_w20_h15 {
    height: 15px;
    width: 20px;
}