
.footer{
   position: fixed;
   font-size: 15px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#eaeaea;
   color:#022543;
   text-align: left;
   padding: 12px 36px;
   font-family: Roboto;
   font-weight: 300;
   line-height: 1.09;
   z-index: 1030;
}
@media only screen and (max-width: 768px) {
   .footer{
      display: none !important;
   }
}
