.bg1 {
  background-color: #fff;
}
.bg2 {
  background-color: #f6f6f6;
}
.nop {
  padding: 0;
  margin: 0;
}
.brdr {
  border-style: solid;
  border-width: thin;
}
.brdr-rt {
  border-right: 1px solid #b4b4b4;
}
.txt {
  width: 70%;
  border: none;
  outline: none;
}

.txt-font {
  font-size: 14px;
  font-weight: bold;
}
.btn{
    border: none;
}
.chkBx{
    margin-top: 10px;
    margin-left: 10px;
}
.br-rad{
border-radius: 5px;
}
.input-group-text {
    background: #fff !important;
    border-radius: 0;
}
