.matSlct{
    border: 1px solid #c2c2c2;
    border-radius: 2px;
}
.w80{
    width: 80%;
}
.pd{
    padding: 7px 8px;
}
.w20{
    width: 20%;
    height: 41px;
}
.one-edge-shadow {
    box-shadow: 0 7px 4px -6px #c2c2c2;
  }