<mat-tab-group>
    <!-- <mat-tab label="TRIP" class="trip">
        <div class="trip">
            <div class="head-box">
                <img src="/assets/images/agent-logo.png">
                <div class="head-text-box">
                    <p class="head-big">New</p>
                    <p class="head-sub">test<span class="blue">blue</span></p>
                </div>
            </div>
            <div class="bottom-box row">
                <div class="col-md-4">
                    <p class="black-big">Test Text</p>
                    <p class="grey-txt">Test Text</p>
                    <p class="grey-txt">Test Text</p>
                    <p class="black-sub">Test Text</p>
                </div>
                <div class="col-md-4 center-box">
                    <p class="duration">Test Text</p>
                    <div class="flight-box">
                        <div class="border-box"></div>
                        <mat-icon>flight</mat-icon>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="black-big text-left">Test Text</p>
                    <p class="grey-txt text-left">Test Text</p>
                    <p class="grey-txt text-left">Test Text</p>
                    <p class="black-sub text-left">Test Text</p>
                </div>
            </div>
        </div>
    </mat-tab> -->
    <mat-tab label="FARE SUMMARY & RULES">
        <div class="fare row">
            <div class="col-md-6 details">
                <p class="blue-head">Fare Details</p>
                <mat-card>
                    <div class="text-box">
                        <p class="black-text">Base Fair</p>
                        <p class="black-text">SAR</p>
                    </div>
                    <div class="text-box">
                        <p class="grey-text"></p>
                        <p class="grey-text"></p>
                    </div>
                    <div class="text-box brdr">
                        <p class="grey-text"></p>
                        <p class="grey-text"></p>
                    </div>
                    <div class="text-box">
                        <p class="black-text">Tax & Charges</p>
                        <p class="black-text"></p>
                    </div>
                    <div class="text-box">
                        <p class="grey-text"></p>
                        <p class="grey-text"></p>
                    </div>
                    <div class="text-box brdr">
                        <p class="grey-text"></p>
                        <p class="grey-text"></p>
                    </div>
                    <div class="text-box">
                        <p class="black-text">Total Amount</p>
                        <p class="black-text"></p>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-6">
                <p class="blue-head">Fare Rules</p>
                <mat-card>
                    <p class="black-text">ATO Service Fee</p>
                    <div class="text-box">
                        <p class="grey-text"></p>
                        <p class="grey-text"></p>
                    </div>
                    <div class="text-box">
                        <p class="grey-text"></p>
                        <p class="grey-text"></p>
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="BAGGAGE">
        <div class="baggage">
            <p class="head">Delhi to Jeddah</p>
            <div class="row npm">
                <div class="col-md-3 image-box">
                    <img src="/assets/images/baggage.png">
                </div>
                <div class="col-md-9 text-box">
                    <p class="bag-head">Check-in Baggage</p>
                    <p class="bag-text mb-15">Adult : | Child : | Infant :</p>
                    <p class="bag-head">Cabin Baggage</p>
                    <p class="bag-text">Adult : | Child : | Infant :</p>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>