<div>
    <div class="w-100 bgf2 ptpb25">
        <div class="container d-flex justify-content-between">
            <div class="fs22 lh22 fw600 text-black">Other Package Information</div>
            <div class="d-inline-flex cursor-pointer">
                <i class="blue_back_arrow icns icon_size_15"></i>
                <div class="blue_back_clr lh15 fs15 ml-2">Back</div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <form>
            <div class="boxborder">
                <div>
                    <div class="w-100 bgf2 p20 brdr_btm_d3 d-flex justify-content-between">
                        <div class="fw600 fs16">Add Generic Info</div>
                        <div class="cursor-pointer"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
