<div>
    <div class="w-100 bgf2 ptpb25">
        <div class="container d-flex justify-content-between">
            <div class="fs22 lh22 fw600 text-black">Other Package Information</div>
            <div class="d-inline-flex cursor-pointer" (click)="back()">
                <i class="blue_back_arrow icns icon_size_15"></i>
                <div class="blue_back_clr lh15 fs15 ml-2">Back</div>
            </div>
        </div>
    </div>
    <div class="container mt-3 mb-5">
        <form [formGroup]="otherPackageForm" (ngSubmit)="onSubmit()">
            <div class="boxborder">
                <div>
                    <div class="w-100 bgf2 p20 brdr_btm_d3 d-flex justify-content-between">
                        <div class="fw600 fs16">Add Generic Info</div>
                        <!-- <div class="cursor-pointer"><i class="blue_back_arrow rotate-90 icns icon_size_20"></i></div> -->
                    </div>
                    <div class="row m-0 p30">
                        <div class="col-md-6 mb30">
                            <label class="fs14 fw400 lh14 pl-1">Add Title :</label>
                            <input type="text" class="owldatebrdr w-100 form-control" placeholder="Title" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                        </div>
                        <div class="col-md-12 mb30">
                            <label class="fs14 fw400 lh14 pl-1">Add Overview :</label>
                            <angular-editor formControlName="overview" [config]="config" [ngClass]="{ 'is-invalid': submitted && f.overview.errors }"></angular-editor>
                        </div>
                        <div class="col-md-12 mb30">
                            <label class="fs14 fw400 lh14 pl-1">Add Marketing Image :</label>
                            <div class="w-100 row m-0">
                                <div class="col-md-3 p-0 mr-3 position-relative" *ngFor='let url of urls ;let i = index;'>
                                    <img [src]="url" class="hero-image-size w-100" alt="">
                                    <div class="closeimgicon" (click)="deleteTripImg(i)"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
                                </div>
                                <div class="add-image-box col-md-2" *ngIf="imageAddButton">
                                    <input type='file' (change)="addTripImages($event)" multiple>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="w-100 bgf2 p20 d-flex justify-content-between">
                        <div class="fw600 fs16">Add Itinerary</div>
                        <!-- <div class="cursor-pointer"><i class="blue_back_arrow rotate-90 icns icon_size_20"></i></div> -->
                    </div>
                    <div formArrayName="itinerary" *ngFor="let a of getControls(); let i = index">
                        <div [formGroupName]="i">
                            <div class="row m-0 p30 brdr_top_d3">
                                <div class="col-md-12 text-right" *ngIf="i>0">
                                    <div class="fs16 fw400 cursor-pointer" (click)="removeItenerary(i)"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Remove</div>
                                </div>
                                <div class="col-md-4 mb30">
                                    <label class="fs14 fw400 lh14 pl-1">Day(s) :</label>
                                    <select class="owldatebrdr w-100 form-control" formControlName="days" [ngClass]="{ 'is-invalid': submitted && getValidity(i) }">
                                        <option *ngFor="let k of [].constructor(travelDays);let i = index;" value ="{{i+1}}" >{{i+1}} days</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb30">
                                    <label class="fs14 fw400 lh14 pl-1">Title :</label>
                                    <input type="text" class="owldatebrdr w-100 form-control" placeholder="Enter Title" formControlName="itinerary_title" [ngClass]="{ 'is-invalid': submitted && getValidity(i) }">
                                </div>
                                <div class="col-md-4 mb30">
                                    <label class="fs14 fw400 lh14 pl-1">From Date :</label>
                                    <div class="position-relative" [owlDateTimeTrigger]="dt5">
                                        <input [owlDateTime]="dt5" placeholder="Depature Date" class="owldatebrdr w-100 form-control" formControlName="depdate" [min]="otherInfoMin" [max]="otherInfoMax" [ngClass]="{ 'is-invalid': submitted && getValidity(i) }">
                                        <i class="icns calendaricon icon_size_20 cursor-pointer owldateiconpostion"></i>
                                        <owl-date-time #dt5 [pickerType]="'calendar'"></owl-date-time>
                                    </div>
                                </div>
                                <div class="col-md-12 mb30">
                                    <label class="fs14 fw400 lh14 pl-1">Add Overview :</label>
                                    <angular-editor formControlName="itinerary_overview" [config]="config" [ngClass]="{ 'is-invalid': submitted && getValidity(i) }"></angular-editor>
                                </div>
                                <div class="col-md-12">
                                    <div class="w-100 row m-0">
                                        <div class="col-md-3 p-0 mr-3 position-relative" *ngFor='let url of a.urlList ;let j = index;'>
                                            <img [src]="url.url" class="hero-image-size w-100" alt="">
                                            <div class="closeimgicon" (click)="deleteImageForItenerary(i,a)"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
                                        </div>
                                        <div class="add-image-box col-md-2">
                                            <input type='file' (change)="onSelectDescriptionFile($event,a,i)" multiple>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end p30 pt-0">
                    <div class="addAnotherBttn cursor-pointer" (click)="addItinerary()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Another</div>
                </div>
                <div>
                    <div class="w-100 bgf2 p20 d-flex justify-content-between brdr_btm_d3">
                        <div class="fw600 fs16">Add Exclusions & Inclusions</div>
                        <!-- <div class="cursor-pointer"><i class="blue_back_arrow rotate-90 icns icon_size_20"></i></div> -->
                    </div>
                    <div class="row m-0 p30">
                        <div class="col-md-12 mb30">
                            <label class="fs14 fw400 lh14 pl-1">Exclusions :</label>
                            <angular-editor formControlName="exclusion" [config]="config" [ngClass]="{ 'is-invalid': submitted && f.exclusion.errors}"></angular-editor>
                        </div>
                        <div class="col-md-12 mb30">
                            <label class="fs14 fw400 lh14 pl-1">Inclusion :</label>
                            <angular-editor formControlName="inclusion" [config]="config" [ngClass]="{ 'is-invalid': submitted && f.inclusion.errors}"></angular-editor>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="w-100 bgf2 p20 d-flex justify-content-between brdr_btm_d3">
                        <div class="fw600 fs16">Add Trip Polices</div>
                        <!-- <div class="cursor-pointer"><i class="blue_back_arrow rotate-90 icns icon_size_20"></i></div> -->
                    </div>
                    <div class="row m-0 p30">
                        <div class="col-md-12 mb30">
                            <label class="fs14 fw400 lh14 pl-1">Polices :</label>
                            <angular-editor formControlName="polices" [config]="config" [ngClass]="{ 'is-invalid': submitted && f.polices.errors}"></angular-editor>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="searchbutton" [class.bttnactive]="bttnactive">Continue</button>
            </div>
        </form>
    </div>
</div>