<div class="animationdiv">
    <div class="container">
        <div *ngFor="let item of freeArray">
            <div class="displyflex box border_box_shadow">
                <div class="photo m-2 shine wdth100"></div>
                <div>
                    <div class="lines shine m-1 width40 wdth100"></div><br>
                    <div class="lines shine m-1 width40 wdth100"></div><br>
                    <div class="lines shine m-1 width40 wdth100"></div><br>
                    <div class="lines shine m-1 width40 wdth100"></div>
                </div>
                <div class="ml-auto phonenone">
                    <div class="lines shine m-1 width21"></div><br>
                    <div class="lines shine m-1 width21"></div>
                </div>
            </div>
        </div>
    </div>
</div>