<div class="modal" id="exampleModalLong" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog zoomanimation" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Terms And Conditions</h5>
                <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body textofall">
                <h2>TERMS OF USE & SERVICE</h2>
                <h3>Passenger Details</h3>
                <p>This website https://www.akbarumrah.com/(Akbar Umrah) is published and maintained by Akbar Online Booking Co. Pvt Ltd, a company incorporated and existing in accordance with the laws of the Republic of India. When you access, browse or
                    use this Site you accept, without limitation or qualification, the terms and conditions set forth below. When you access any sub-site (whether belonging to an 'associate' of Akbar Travels or otherwise) through this site, then such
                    sub-site may have its own terms and conditions of use which is specific to such sub-site. sub-sites may contain such additional terms and conditions of use as may be set out in such sub-site.
                </p>
                <p>
                    These Terms and Conditions of Use and any additional terms posted on this Site together constitute the entire agreement between Akbar Travels and you with respect to your use of this Site.
                </p>
                <h3>Site and Its Contents</h3>
                <p>
                    This Site is only for your personal use. You shall not distribute exchange, modify, sell or transmit anything you copy from this Site, including but not limited to any text, images, audio, and video, for any business, commercial or public purpose. As
                    long as you comply with the terms of these Terms and Conditions of Use, Akbar Travels grants you a non-exclusive, non-transferable, limited right to enter, view, and use this Site. You agree not to interrupt or attempt to interrupt
                    the operation of this Site in any way. Access to certain areas of the Site may only be available to registered members. To become a registered member, you may be required to answer certain questions. Answers to such questions may be
                    mandatory and/or optional. You represent and warrant that all information you supply to us, about yourself, and others, is true and accurate.
                </p>
                <h3>Ownership</h3>
                <p>All materials on this Site, including but not limited to audio, images, software, text, icons, and such like (the 'Content'), are protected by copyright under international conventions and copyright laws. You cannot use the Content, except
                    as specified herein. You agree to follow all instructions on this Site limiting the way you may use the Content.</p>
                <p>There are several proprietary logos, service marks, and trademarks found on this Site whether owned/used by Akbar Travels or otherwise. By displaying them on this Site, Akbar Travels is not granting you any license to utilize those proprietary
                    logos, service marks, or trademarks. Any unauthorized use of the Content may violate copyright laws, trademark laws, the laws of privacy and publicity, and civil and criminal statutes.</p>
                <p>You may download such copy/copies of the Content to be used only by you for your personal use at home unless the sub-site you are accessing states that you may not. If you download any Content from this Site, you shall not remove any copyright
                    or trademark notices or other notices that go with it.</p>
                <h3>Akbar Travels Rights</h3>
                <p>If you send any communications or materials to the Site by electronic mail or otherwise, including any comments, data, questions, suggestions, or the like, all such communications are, and will be treated by Akbar Travels, as non-confidential.
                    You hereby give up any and all claim that any use of such material violates any of your rights including moral rights, privacy rights, proprietary or other property rights, publicity rights, rights to credit for material or ideas,
                    or any other right, including the right to approve the way Akbar Travels uses such material. Any material submitted to this Site may be adapted, broadcast, changed, copied, disclosed, licensed, performed, posted, published, sold, transmitted
                    or used by Akbar Travels anywhere in the world, in any medium, forever.</p>
                <h3>Transmitted Material</h3>
                <p>Internet transmissions are never completely private or secure. You understand that any message or information you send to this Site may be read or intercepted by others unless there is a special notice that a particular message (for example,
                    credit card information) is encrypted (send in code). Sending a message to Akbar Travels does not cause Akbar Travels to have any special responsibility to you. The copyright in the texts of this website belong to Akbar Travels. Accordingly
                    Akbar Travels reserves all rights. Copying of part or all the texts of this website without permission of Akbar Travels is prohibited except to the extent that such copying/printing is necessary for the purposes of availing of the
                    paid services provided.</p>
                <h3>Contests and interactions</h3>
                <p>
                    This Site may contain contests that require you to send in material or information about yourself or offer prizes. Each contest has its own rules, which you must read and agree to before you participate.
                </p>
                <h3>Disclaimer</h3>
                <p>
                    The material in this Site could include technical inaccuracies or typographical errors. Akbar Travels may make changes or improvements at any time.
                </p>
                <p>
                    The materials on this site are provided on an 'As Is’ basis, without warranties of any kind either expressed or implied. Information, software, products, and services contained on this website, and the inclusion or offering of any products or services
                    on this website does not constitute any endorsement or recommendation of such products or services by Akbar Travels, Akbar Travels Affiliates and their respective suppliers. To the fullest extent permissible pursuant to applicable
                    law, Akbar Travels disclaims all warranties of merchantability, relating to the information and description of the hotel , air or any other travel products displayed on this website (including, without limitation, the pricing, photographs,
                    list of hotel amenities, general product descriptions, etc.), much of which information is provided by the respective suppliers. Hotel or any other ratings displayed on this website are intended as only general guidelines, and Akbar
                    Travels, Akbar Travels Affiliates and their respective suppliers do not guarantee the accuracy of the ratings. Akbar Travels, Akbar Travels Affiliates and their respective suppliers make no guarantees about the availability of specific
                    products and services. Akbar Travels may make improvements and/or changes on this website at any time. Akbar Travels does not warrant that the functions contained in this site will be uninterrupted or error free, that defects will
                    be corrected, or that this site or the servers that make it available are free of viruses or other harmful components, but shall endeavour to ensure your fullest satisfaction Akbar Travels does not warrant or make any representations
                    regarding the use of or the result of the use of the material on the site in terms of their correctness, accuracy, reliability, or otherwise, insofar as such material is derived from other service providers such as airlines, hotel
                    owners and tour operators. You acknowledge that this Website is provided only on the basis set out in these terms and conditions. Your uninterrupted access or use of this Website on this basis may be prevented by certain factors outside
                    our reasonable control including, without limitation, the unavailability, inoperability or interruption of the Internet or other telecommunications services or as a result of any maintenance or other service work carried out on this
                    Website. Akbar Travels does not accept any responsibility and will not be liable for any loss or damage whatsoever arising out of or in connection with any ability/inability to access or to use the Site. You also acknowledge that through
                    this Site, Akbar Travels merely provides intermediary services in order to facilitate highest quality services to you. Akbar Travels is not the last-mile service provider to you and therefore, Akbar Travels shall not be or deemed to
                    be responsible for any lack or deficiency of services provided by any person (airline, travel/tour operator, hotel, facility or similar agency) you shall engage or hire or appoint pursuant to or resulting from, the material available
                    in this Site. Akbar Travels, Akbar Travels Affiliates, and their respective suppliers hereby disclaim all warranties and conditions with regard to this information, software, products, and services, including all implied warranties
                    and conditions of merchantability, satisfactory quality, and fitness for a particular purpose, title, and non-infringement. Akbar Travels will not be liable to you or to any other person for any direct, indirect, incidental, punitive
                    or consequential loss, damage, cost or expense of any kind whatsoever and howsoever caused from out of your usage of this Site. In no event shall Akbar Travels, Akbar Travels Affiliates ,and their respective suppliers be liable for
                    any direct, indirect, punitive, incidental, special, or consequential damages arising out of, or in any way connected with, your access to, display of or use of this website or with the delay or inability to access, display or use
                    this website (including, but not limited to, your reliance upon opinions appearing on this web site; any computer viruses, information, software, linked sites, products, and services obtained through this website; or otherwise arising
                    out of the access to, display of or use of this website) whether based on a theory of negligence, contract, tort, strict liability, or otherwise, and even if the Akbar Travels group companies, the Akbar Travels Affiliates and their
                    respective suppliers have been advised of the possibility of such damages. You agree to defend and indemnify Akbar Travels, Akbar Travels Affiliates, and their respective suppliers and any of their officers, directors, employees and
                    agents from and against any claims, causes of action, demands, recoveries, losses, damages, fines, penalties or other costs or expenses of any kind or nature including but not limited to reasonable legal and accounting fees, brought
                    by third parties as a result of:
                </p>
                <ol>
                    <li>your breach of this Agreement or the documents referenced herein; or</li>
                    <li>your violation of any law or the rights of a third party</li>
                </ol>
                <p>
                    Notwithstanding anything else to the contrary contained elsewhere herein or otherwise at law, Akbar Travels liability (whether by way of indemnification to you or otherwise) shall be restricted to a maximum of INR 1000 (Indian Rupees One Thousand only).
                </p>
                <h3>Availability</h3>
                <p>
                    The products and services displayed on the Site may not be available for purchase in your particular country or locality. The reference to such products and services on the Site does not imply or warrant that these products or services will be available
                    at any time in your particular geographical location. You should check with your local Akbar Travels authorized representative for the availability of specific products and services in your area.
                </p>
                <h3>Terms and Conditions of Use</h3>
                <p>
                    Akbar Travels may add to, change or remove any part of these Terms and Conditions of Use at any time, without notice. Any changes to these Terms and Conditions of Use or any terms posted on this Site apply as soon as they are posted. By continuing to
                    use this Site after any changes are posted, you are indicating your acceptance of those changes. Akbar Travels may add, change, discontinue, remove or suspend any other Content posted on this Site, including features and specifications
                    of products described or depicted on the Site, temporarily or permanently, at any time, without notice and without liability.
                </p>
                <p>
                    Akbar Travels reserves the right to undertake all necessary steps to ensure that the security, safety and integrity of Akbar Travels systems as well as its client's interests are and remain, well-protected.
                </p>
                <p>
                    Towards this end, Akbar Travels may take various steps to verify and confirm the authenticity, enforceability and validity of orders placed by you.
                </p>
                <p>
                    If Akbar Travels, in its sole and exclusive discretion, concludes that the said orders are not or do not reasonably appear to be, authentic, enforceable or valid, then Akbar Travels may cancel the said orders at any time up to 5 hours before the scheduled
                    time of departure of the relevant flight or 5 hours before the expected date of visit to any property booked through Akbar Travels.
                </p>
                <h3>General Provisions</h3>
                <p>
                    You may travel to certain destinations which involve greater risks than others, entirely at your risk as to cost and consequences.
                </p>
                <p>
                    Akbar Travels requests you to consult your local authorities and evaluate travel prohibitions, warning, announcements, and advisories issued by them before booking travel to certain international destinations.
                </p>
                <p>
                    By offering for sale travel to particular international destinations, Akbar Travels does not represent or warrant that travel to such point is advisable or without risk. Akbar Travels does not accept liability for damages, losses, or delays that may result
                    from improper documents for entry, exit, length of stay, or from travel to such destinations.
                </p>
                <p>
                    Akbar Travels, Akbar Travels Affiliates and their respective suppliers are not liable for the acts, errors, omissions, representations, warranties, breaches or negligence of any air carriers, hotels or other suppliers or for any personal injuries, death,
                    property damage, or other damages or expenses resulting there from. Akbar Travels, Akbar Travels Affiliates and their respective suppliers have no liability and will make no refund in the event of any delay, cancellation, overbooking,
                    strike, force majeure or other causes beyond their direct control, and they have no responsibility for any additional expense, omissions, delays, re-routing or acts of any government or authority.
                </p>
                <p>
                    Akbar Travels reserves its exclusive right in its sole discretion to alter, limit or discontinue the Site or any material posted herein, in any respect. Akbar Travels shall have no obligation to take the needs of any User into consideration in connection
                    therewith.
                </p>
                <p>
                    Akbar Travels reserves its right to deny in its sole discretion any user access to this Site or any portion hereof without notice.
                </p>
                <p>
                    You agree to abide by the terms and conditions of purchase imposed by any supplier with whom you elect to deal, including, but not limited to, payment of all amounts when due and with the supplier's rules and restrictions regarding availability and use
                    of fares, products, or services. You acknowledge that some third-party providers offering certain services and/or activities may require you to sign their liability waiver prior to participating in the service and/or activity they
                    offer. You understand that any violation of any such supplier's rules and restrictions may result in cancellation of your reservation(s), in your being denied access to the applicable travel product or services, in your forfeiting
                    any monies paid for such reservation(s), and/or in Akbar Travels debiting your account for any costs we incur as a result of such violation.
                </p>
                <p>
                    No waiver by Akbar Travels of any provision of these Terms and Conditions shall be binding except as set forth in writing and signed by its duly authorized representative.
                </p>
                <p>
                    If any dispute arises between you and Akbar Travels during your use of the Site or thereafter, in connection with and arising from your use or attempt to use this Site, the dispute shall be referred to arbitration. The place of arbitration shall be Mumbai.
                    The arbitration proceedings shall be in the English language.
                </p>
                <p>
                    The said arbitration proceedings shall be governed and construed in accordance with the Arbitration and Conciliation Act, 1996 and modifications thereof as in force at the relevant time.
                </p>
                <p>
                    These terms and conditions are governed by and shall be construed in accordance with the laws of the Republic of India and any dispute shall exclusively be subject to the jurisdiction of the appropriate Courts situated at Mumbai, Maharashtra, India.
                </p>
                <p>
                    All our products detailed in this website are sold subject to these Terms and Conditions and the same shall govern the contract between us.
                </p>
                <p>
                    In the event of booking of any third party tours or travel products or services like flights, hotel, bus, rail, cruises, sightseeing etc, the Terms and Conditions specified by such Operator, including their payment schedule, cancellation, refund etc.
                    shall be applicable, in addition to our Terms and Conditions.
                </p>
                <p>
                    When you reserve or purchase travel services through akbartravels.com, we must provide certain of your personal information to the airline, hotel, car - rental agency, travel agency or other involved third party to enable the successful fulfillment of
                    your travel arrangements. The services are provided by independent entities that own or operate airlines, surface transportation, hotels, cruises, etc. Though we select reputed suppliers after we inspect their infrastructure, however,
                    we have no direct control over such services or persons providing such services or their staff. In case of third party products displayed on our website, we take no responsibility for the texts, quality or safety of the product in
                    any way. Akbar Online Booking Co. Pvt. Ltd. would not be in any way liable or responsible for any loss, damage or injury sustained by the User as a result of availing such products and services advertised by third parties on the website.
                    However, in case a client is not satisfied with a particular service, we can take up the matter with the supplier if we are intimated immediately as per the process described in this document.
                </p>
                <p>
                    As we book services in advance and are bound to honour the commitments as to payment to the suppliers, cancellation of services earmarked results in the Company losing money depending upon the time of communication of cancellation to the supplier and
                    therefore, the cancellation schedule, which is based on the above amongst other factors becomes applicable on cancellation.
                </p>
            </div>

        </div>
    </div>
</div>