<div style="display: block;" class="modal" id="roomDetailsPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="popupmoving container mt135">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{setViewData?.name | titlecase}}</h5>
                <button type="button" class="close m0p0" (click)="hideRoomDetailsPopUp()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-12 mb30" *ngIf="setViewData.images.length > 0">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <ngb-carousel #carousel [interval]="1000">
                                <ng-template ngbSlide *ngFor="let img of setViewData.images; index as i">
                                    <a href="" target="_blank" rel="nofollow noopener noreferrer">
                                        <div class="picsum-img-wrapper">
                                            <img [src]="img.image_url" alt="My image {{i + 1}} description">
                                        </div>
                                    </a>
                                </ng-template>
                            </ngb-carousel>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">{{'Previous' | translate }}</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">{{'Next' | translate }}</span>
                            </a>
                        </div>
                    </div>
                    <div *ngIf="setViewData?.description" class="mb30 col-md-12">
                        <h6>{{'Description' | translate}}:</h6>
                        <p class="ml30 mr30">{{setViewData?.description}}</p>
                    </div>
                    <div *ngIf="setViewData.features.length > 0" class="textright pr10 col-md-12 mb30">
                        <h6>{{'Amenities & Info' | translate}}</h6>
                        <div class="col-12 row mx-0">
                            <div class="col-3" style="list-style-type: square;" *ngFor="let item of setViewData.features">
                                <i class="fa fa-check green_text" aria-hidden="true"></i> {{item?.name}}
                            </div>
                        </div>
                    </div>
                    <div *ngIf="setViewData.boardTypes.length > 0" class="textright pr10 col-md-12 mb30">
                        <h6>{{'Meal Plan' | translate}}</h6>
                        <div class="col-12 row mx-0">
                            <div class="col-3" *ngFor="let item of setViewData.boardTypes">
                                <span>{{item?.type}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb30">
                        <div class="" *ngFor="let item of setViewData.cancellation_policy">
                            <h6>{{item?.title}}</h6>
                            <div class="green_text pl30" *ngIf="item?.is_refundable">{{'Refundable' | translate}}</div>
                            <div class="red_text pl30" *ngIf="!item?.is_refundable">{{'non_refundable' | translate}}</div>
                            <div class="mt-2 borderbox ml30 mr30" *ngIf="item?.is_refundable">
                                <div class="d-flex justify-content-between p10 brdr_btm_d3 fs15" *ngFor="let rule of item.rules">
                                    <div class="d-inline-flex">
                                        <div class="my-auto pr10 mpr0 mpl10"><i class="calendaricon icns icon_size_20"></i></div>
                                        <div>
                                            <div><strong>{{'From' | translate}} : </strong> {{rule?.from_date_time | date:'medium'}}</div>
                                            <div><strong>{{'Till' | translate}} : </strong> {{rule?.to_date_time | date:'medium'}}</div>
                                            <div>
                                                <p class="mb-0">{{rule?.description}}</p>
                                            </div>
                                            <div class="fs13 clr52 fw400" *ngIf="!rule?.is_noshow">( NOTE: Not applicable in No-Show )</div>
                                        </div>
                                    </div>
                                    <div class="fw600">
                                        <div class="text-capitalize">{{'Cancellation Charge' | translate}}</div>
                                        <div>{{setViewData?.displayRateInfo[0]?.currencyCode}} {{rule?.charge?.chargeAmount}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2 clr52 fs13" *ngIf="item?.description">
                                <div class="fw600">{{'Description' | translate}}:</div>
                                <p>{{item?.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>