#top {
    padding-top: 80px;
    background-repeat: no-repeat;
    background-size: 100% 448px;
    background-image: url(/assets/images/header-bg.png) !important;
}

.table td,
.table th {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.profiledetailsbrdr {
    min-height: 100px;
    border: 1px solid gray;
    box-shadow: 5px 10px #888888;
    border-radius: 5px;
    background-color: white;
}