.flight-card {
    padding: 0;
    border-right: 1px solid #525252;
    .fc-top {
        width: 100%;
        padding: 10px;
        padding-bottom: 0;
        display: inline-flex;
        justify-content: space-between;
        .top-left {
            display: inline-flex;
            .flight-radio {
                margin-top: 1%;
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
            .radio-label {
                font-size: 15px;
                font-weight: normal;
                font-family: 'Lato', sans-serif;
                color: #000;
                span {
                    margin-left: 5px;
                    font-size: 12px;
                    color: #525252;
                }
            }
        }
        .top-right {
            .fare-label {
                font-size: 12px;
                color: #525252;
                font-weight: normal;
                font-family: 'Lato', sans-serif;
                margin: 0;
                text-align: center;
            }
            .fare {
                margin: 0;
                font-size: 18px;
                font-weight: bold;
                font-family: 'Lato', sans-serif;
                color: #000;
                text-align: center;
            }
        }
    }
    .fc-middle {
        display: inline-flex;
        padding: 10px;
        padding-top: 0;
        width: 100%;
        .fc-img {
            margin-top: 16px;
            margin-right: 2%;
            width: 30px;
            height: 30px;
        }
        .black-18 {
            margin: 0;
            font-size: 18px;
            font-weight: bold;
            font-family: 'Lato', sans-serif;
            color: #000;
        }
        .grey-12 {
            margin: 0;
            font-size: 12px;
            font-weight: normal;
            font-family: 'Lato', sans-serif;
            color: #525252;
        }
        .black-12 {
            margin: 0;
            font-size: 12px;
            font-weight: bold;
            font-family: 'Lato', sans-serif;
            color: #000;
        }
        .flag {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            margin: 0 14%;
            .flag-border {
                width: 140%;
                left: -20%;
                border-bottom: 1px dotted #000;
                position: absolute;
            }
            .stop-box {
                width: 15px;
                height: 15px;
                background: crimson;
                margin: 0 auto !important;
                border-radius: 50%;
            }
        }
    }
    .fc-bottom {
        width: 100%;
        padding: 10px;
        display: inline-flex;
        justify-content: space-between;
        .green {
            margin: 0;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            font-family: 'Lato', sans-serif;
            color: #fff;
            background: #6da631;
            border-radius: 3px;
            line-height: 20px;
            height: 20px;
            width: 22px;
        }
        .f-detail {
            margin: 0;
            font-size: 13px;
            font-weight: normal;
            font-family: 'Lato', sans-serif;
            color: #0e295a;
        }
    }
}

.btn-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .fare-total {
        font-size: 12px;
        color: #525252;
        font-weight: normal;
        font-family: 'Lato', sans-serif;
        margin: 0;
        text-align: center;
    }
    .total-fare {
        margin: 0;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Lato', sans-serif;
        color: #000;
        text-align: center;
    }
    button {
        background: #b5cb13 !important;
        color: #000;
        font-weight: normal;
        margin-top: 10px;
    }
    button:disabled {
        background: #555 !important;
        color: #fff !important;
        cursor: not-allowed;
    }
}