<div class="outer">
    <div class="container">
        <div class="row">
            <div class="col-md-5 flight-card">
                <div class="fc-top">
                    <div class="top-left">
                        <p class="radio-label">{{depFlight.AirlineName.split('|')[0]}}<span>| {{depFlight.Provider}}-{{depFlight.FlightNo}}</span></p>
                    </div>
                    <div class="top-right">
                        <p class="fare-label">Current Fare</p>
                        <p class="fare">₹{{depFlight.NetFare}}</p>
                    </div>
                </div>
                <div class="fc-middle">
                    <img class="fc-img" src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/{{depFlight.MAC}}.png">
                    <div class="depart">
                        <p class="black-18">{{depFlight.DepartureTime | date:'shortTime'}}</p>
                        <p class="grey-12">{{depFlight.FromName.split('|')[0]}}</p>
                        <p class="black-12">{{depFlight.DepartureTime | date:'shortDate'}}</p>
                    </div>
                    <div class="flag">
                        <div class="flag-border"></div>
                        <p class="black-12 text-center">{{depFlight.Duration}}</p>
                        <img src="/assets/images/india.ico">
                        <p class="grey-12 text-center">{{depFlight.Stops}} Stop</p>
                    </div>
                    <div class="arrive">
                        <p class="black-18">{{depFlight.ArrivalTime | date:'shortTime'}}</p>
                        <p class="grey-12">{{depFlight.ToName.split('|')[0]}}</p>
                        <p class="black-12">{{depFlight.ArrivalTime | date:'shortDate'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 flight-card" *ngIf="depFlight.length">
                <div class="fc-top">
                    <div class="top-left">
                        <p class="radio-label">{{retFlight.AirlineName.split('|')[0]}}<span>| {{retFlight.Provider}}-{{retFlight.FlightNo}}</span></p>
                    </div>
                    <div class="top-right">
                        <p class="fare-label">Current Fare</p>
                        <p class="fare">₹{{retFlight.NetFare}}</p>
                    </div>
                </div>
                <div class="fc-middle">
                    <img class="fc-img" src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/{{retFlight.MAC}}.png">
                    <div class="depart">
                        <p class="black-18">{{retFlight.DepartureTime | date:'shortTime'}}</p>
                        <p class="grey-12">{{retFlight.FromName.split('|')[0]}}</p>
                        <p class="black-12">{{retFlight.DepartureTime | date:'shortDate'}}</p>
                    </div>
                    <div class="flag">
                        <div class="flag-border"></div>
                        <p class="black-12 text-center">{{retFlight.Duration}}</p>
                        <img src="/assets/images/india.ico">
                        <p class="grey-12 text-center">{{retFlight.Stops}} Stop</p>
                    </div>
                    <div class="arrive">
                        <p class="black-18">{{retFlight.ArrivalTime | date:'shortTime'}}</p>
                        <p class="grey-12">{{retFlight.ToName.split('|')[0]}}</p>
                        <p class="black-12">{{retFlight.ArrivalTime | date:'shortDate'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</div>